<div class="qa-container1">
  <div class="qa-container2">
    <span class="qa-text">What are you looking for your pet?</span>
    <button
      routerLink="/form"
      id="partner_button"
      name="partner_button"
      class="qa-navlink1 button"
    >
      Find a partner
    </button>
    <button
      routerLink="/care-qa"
      id="care_button"
      name="care_button"
      class="qa-navlink2 button"
    >
      Care Service
    </button>
    <button
      routerLink="/adoption-qa"
      id="adoption_button"
      name="adoption_button"
      class="qa-navlink3 button"
    >
      Adoption
    </button>
    <a routerLink="/form" class="qa-navlink4">I prefer to do it later</a>
  </div>
</div>
