<div class="user-pet-profile-container10">
  <app-header rootClassName="headerroot-class-name8">
    <ng-template #text>
      <div class="user-pet-profile-fragment1">
        <span class="user-pet-profile-text10">Notifications</span>
      </div>
    </ng-template>
    <ng-template #link1>
      <div class="user-pet-profile-fragment2">
        <span class="user-pet-profile-text11">Home</span>
      </div>
    </ng-template>
    <ng-template #link2>
      <div class="user-pet-profile-fragment3">
        <span class="user-pet-profile-text12">Search</span>
      </div>
    </ng-template>
    <ng-template #link3>
      <div class="user-pet-profile-fragment4">
        <span class="user-pet-profile-text13">Map</span>
      </div>
    </ng-template>
    <ng-template #link4>
      <div class="user-pet-profile-fragment5">
        <span class="user-pet-profile-text14">Saves</span>
      </div>
    </ng-template>
    <ng-template #link5>
      <div class="user-pet-profile-fragment6">
        <span class="user-pet-profile-text15">Mailbox</span>
      </div>
    </ng-template>
    <ng-template #text2>
      <div class="user-pet-profile-fragment7">
        <span class="user-pet-profile-text16">Notifications</span>
      </div>
    </ng-template>
    <ng-template #text3>
      <div class="user-pet-profile-fragment8">
        <span class="user-pet-profile-text17">Link</span>
      </div>
    </ng-template>
    <ng-template #text11>
      <div class="user-pet-profile-fragment9">
        <span class="user-pet-profile-text18">Link</span>
      </div>
    </ng-template>
  </app-header>
  <div class="user-pet-profile-container11">
    <div class="user-pet-profile-container12">
      <span class="user-pet-profile-text19">Pet Profile</span>
      <a routerLink="/owner-profile" class="user-pet-profile-navlink1">
        Go to owner profile
      </a>
    </div>
    <div class="user-pet-profile-container13">
      <div class="user-pet-profile-container14">
        <div class="user-pet-profile-container15">
          <span class="user-pet-profile-text20">Basic Info</span>
        </div>
        <div class="user-pet-profile-container16">
          <div class="user-pet-profile-container17">
            <div class="user-pet-profile-container18">
              <img
                alt="image"
                src="/assets/paw-200h.png"
                class="user-pet-profile-image1"
              />
              <div class="user-pet-profile-container19">
                <span class="user-pet-profile-text21">Name</span>
                <span id="user-pet-first-name" class="user-pet-profile-text22">
                  Toby
                </span>
              </div>
            </div>
          </div>
          <div class="user-pet-profile-container20">
            <div class="user-pet-profile-container21">
              <img
                alt="image"
                src="/assets/dog%20(1)-200h.png"
                class="user-pet-profile-image2"
              />
              <div class="user-pet-profile-container22">
                <div class="user-pet-profile-container23">
                  <span class="user-pet-profile-text23">Species</span>
                  <span id="user-pet-type" class="user-pet-profile-text24">
                    Dog
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="user-pet-profile-container24">
            <div class="user-pet-profile-container25">
              <img
                alt="image"
                src="/assets/dna-200h.png"
                class="user-pet-profile-image3"
              />
              <div class="user-pet-profile-container26">
                <span class="user-pet-profile-text25">Breed</span>
                <span id="user-pet-breed" class="user-pet-profile-text26">
                  <span>Golden</span>
                  <br />
                  <span>Retriever</span>
                  <br />
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="user-pet-profile-container27">
          <div class="user-pet-profile-container28">
            <div class="user-pet-profile-container29">
              <img
                alt="image"
                src="/assets/gender-200h.png"
                class="user-pet-profile-image4"
              />
              <div class="user-pet-profile-container30">
                <span class="user-pet-profile-text31">Sex</span>
                <span id="user-pet-sex" class="user-pet-profile-text32">
                  <span>Male</span>
                  <br />
                  <br />
                </span>
              </div>
            </div>
          </div>
          <div class="user-pet-profile-container31">
            <div class="user-pet-profile-container32">
              <img
                alt="image"
                src="/assets/pet-care-200h.png"
                class="user-pet-profile-image5"
              />
              <div class="user-pet-profile-container33">
                <span class="user-pet-profile-text36">Status</span>
                <span id="user-pet-sex-status" class="user-pet-profile-text37">
                  Intact
                </span>
              </div>
            </div>
          </div>
          <div class="user-pet-profile-container34">
            <div class="user-pet-profile-container35">
              <img
                alt="image"
                src="/assets/scale-200h.png"
                class="user-pet-profile-image6"
              />
              <div class="user-pet-profile-container36">
                <span class="user-pet-profile-text38">Weight</span>
                <span id="user-pet-weight" class="user-pet-profile-text39">
                  22 kg
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="user-pet-profile-container37">
          <div class="user-pet-profile-container38">
            <div class="user-pet-profile-container39">
              <img
                alt="image"
                src="/assets/triangular-ruler%20(1)-200h.png"
                class="user-pet-profile-image7"
              />
              <div class="user-pet-profile-container40">
                <span class="user-pet-profile-text40">Size</span>
                <span id="user-pet-size" class="user-pet-profile-text41">
                  40 cm
                </span>
              </div>
            </div>
          </div>
          <div class="user-pet-profile-container41">
            <div class="user-pet-profile-container42">
              <img
                alt="image"
                src="/assets/birthday-200h.png"
                class="user-pet-profile-image8"
              />
              <div class="user-pet-profile-container43">
                <span class="user-pet-profile-text42">Age</span>
                <span id="user-pet-age" class="user-pet-profile-text43">
                  1 yr old
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="user-pet-profile-container44">
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="user-pet-profile-image9"
        />
        <div class="user-pet-profile-container45">
          <span id="user-pet-search" class="user-pet-profile-text44">
            <span class="user-pet-profile-text45">
              Looking for
              <span [innerHTML]="rawvf7p"></span>
            </span>
            <span class="user-pet-profile-text46">LOVE </span>
          </span>
        </div>
        <div class="user-pet-profile-container46">
          <div class="user-pet-profile-container47">
            <svg
              width="717"
              height="717"
              viewBox="0 0 717 717"
              class="user-pet-profile-icon10"
            >
              <path
                d="M390 0v149h78L312 337L156 149h82V0zm132 241l91 144c5 12 11 35 11 49v277c0 15-12 26-26 26H27c-15 0-27-11-27-26V434c0-14 5-37 10-49l91-144c5-13 23-24 36-24h41l42 51h-84L55 416c-1 0-1 1-1 2c0 2 0 3-1 4h517v-4c0-1-1-2-1-3l-81-147h-84l42-51h40c14 0 31 11 36 24M239 530h147c13 0 25-12 25-26c0-13-12-25-25-25H239c-14 0-26 12-26 25c0 14 12 26 26 26"
                fill="currentColor"
              ></path>
            </svg>
          </div>
          <div class="user-pet-profile-container48">
            <a routerLink="/mailbox" class="user-pet-profile-navlink2">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                class="user-pet-profile-icon12"
              >
                <path
                  d="M3.656 17.979A1 1 0 0 1 2 17.243V15a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H8.003zM16 10.017a7 7 0 0 0 0 .369zq.007-.16.004-4.019a3 3 0 0 0-3-2.997H5V2a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2v2.243a1 1 0 0 1-1.656.736L16 13.743z"
                  fill="currentColor"
                ></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="user-pet-profile-container49">
      <div class="user-pet-profile-container50">
        <span class="user-pet-profile-text47">Diseases</span>
      </div>
      <div class="user-pet-profile-container51">
        <span id="user-pet-diseases" class="user-pet-profile-text48">
          - Parvovirus
        </span>
      </div>
    </div>
    <div class="user-pet-profile-container52">
      <div class="user-pet-profile-container53">
        <span class="user-pet-profile-text49">Pet Description</span>
      </div>
      <div class="user-pet-profile-container54">
        <span id="user-pet-description" class="user-pet-profile-text50">
          Write here...
        </span>
      </div>
    </div>
    <div class="user-pet-profile-container55">
      <div class="user-pet-profile-container56">
        <svg
          width="717"
          height="717"
          viewBox="0 0 717 717"
          class="user-pet-profile-icon14"
        >
          <path
            d="M390 0v149h78L312 337L156 149h82V0zm132 241l91 144c5 12 11 35 11 49v277c0 15-12 26-26 26H27c-15 0-27-11-27-26V434c0-14 5-37 10-49l91-144c5-13 23-24 36-24h41l42 51h-84L55 416c-1 0-1 1-1 2c0 2 0 3-1 4h517v-4c0-1-1-2-1-3l-81-147h-84l42-51h40c14 0 31 11 36 24M239 530h147c13 0 25-12 25-26c0-13-12-25-25-25H239c-14 0-26 12-26 25c0 14 12 26 26 26"
            fill="currentColor"
          ></path>
        </svg>
      </div>
      <div class="user-pet-profile-container57">
        <a routerLink="/mailbox" class="user-pet-profile-navlink3">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="user-pet-profile-icon16"
          >
            <path
              d="M3.656 17.979A1 1 0 0 1 2 17.243V15a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H8.003zM16 10.017a7 7 0 0 0 0 .369zq.007-.16.004-4.019a3 3 0 0 0-3-2.997H5V2a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2v2.243a1 1 0 0 1-1.656.736L16 13.743z"
              fill="currentColor"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    class="user-pet-profile-icon18"
  >
    <circle r="2.5" cx="4.5" cy="9.5" fill="currentColor"></circle>
    <circle r="2.5" cx="9" cy="5.5" fill="currentColor"></circle>
    <circle r="2.5" cx="15" cy="5.5" fill="currentColor"></circle>
    <circle r="2.5" cx="19.5" cy="9.5" fill="currentColor"></circle>
    <path
      d="M17.34 14.86c-.87-1.02-1.6-1.89-2.48-2.91c-.46-.54-1.05-1.08-1.75-1.32q-.165-.06-.33-.09c-.25-.04-.52-.04-.78-.04s-.53 0-.79.05q-.165.03-.33.09c-.7.24-1.28.78-1.75 1.32c-.87 1.02-1.6 1.89-2.48 2.91c-1.31 1.31-2.92 2.76-2.62 4.79c.29 1.02 1.02 2.03 2.33 2.32c.73.15 3.06-.44 5.54-.44h.18c2.48 0 4.81.58 5.54.44c1.31-.29 2.04-1.31 2.33-2.32c.31-2.04-1.3-3.49-2.61-4.8"
      fill="currentColor"
    ></path>
  </svg>
</div>
