.chat-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.participant-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 30px;
    margin-left: 20px;
    object-fit: cover;
}

.participant-name {
    font-size: 22px;
    font-weight: bold;
}

.chat-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    max-height: 100vh;
    min-height: 100%;
    margin-top: 10vh;
}

.messages {
    height: 100%;
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, #c8f4f0, #ffffff);
    scrollbar-width: none;
}

.message {
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border-radius: 16px;
    max-width: 70%;
    width: auto;
    position: relative;
    word-wrap: break-word;
    word-break: break-word;
}

.message.sent {
    align-self: flex-end;
    background-color: #3a4e64;
    color: #ffffff;
}

.message.received {
    align-self: flex-start;
    background-color: #b0c4de;
    color: #ffffff;
}

.message small {
    display: block;
    font-size: 0.8rem;
    text-align: right;
    color: #ffffff;
    opacity: 0.8;
}

.message-input {
    display: flex;
    padding: 0.5rem;
    border-top: 1px solid #ddd;
}

.message-input textarea {
    flex: 1;
    resize: none;
    border: 1px solid #ddd;
    border-radius: 24px;
    font-size: 1rem;
    padding: 0.8rem 0 0.8rem 1rem;
}

.message-input button {
    margin-left: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: rgb(231, 126, 229);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.message-input button:hover {
    background-color: rgb(180, 80, 180);
}

.button-return {
    position: absolute;
    right: 0;
    margin-right: 30px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
}
