<div class="mailbox-container10">
  <app-header rootClassName="headerroot-class-name5"></app-header>
  <div class="mailbox-container11">
    <div class="mailbox-container12">
      <div class="mailbox-container13">
        <div class="mailbox-container14">
          <span class="mailbox-text19">Inbox</span>
          <button
            type="button"
            class="mailbox-button1 button"
            [ngClass]="{'active': selectedFilter === 'all'}"
            (click)="onFilterChange('all')">
            All
          </button>
        </div>
        <div class="mailbox-container15">
          <button
            type="button"
            class="mailbox-button2 button"
            [ngClass]="{'active': selectedFilter === 'unread'}"
            (click)="onFilterChange('unread')">
            Unread
          </button>
        </div>
      </div>
      <div *ngFor="let chat of chatDetails" class="app-list">
        <app-chat-list
          [chatId]="chat.chatId"
          [participantId]="chat.participantId"
          [lastMessage]="chat.lastMessage"
          [lastMessageDate]="chat.lastMessageDate"
          [authUser]="userId"
          (selectParticipant)="onSelectParticipant($event)">
        </app-chat-list>
      </div>
    </div>
    <div class="mailbox-container21">
      <div *ngIf="!selectedId" class="mailbox-container22">
        <div class="mailbox-container23">
          <img
            alt="image"
            src="/assets/1676556259dog-sleeping.svg"
            class="mailbox-image2"
          />
          <span class="mailbox-text26">
            Nothing here. Select a chat to find your ideal partner
          </span>
        </div>
      </div>
      <app-chat *ngIf="selectedId" [receiverId]="selectedId" (chatCreated)="onChatCreated()"></app-chat>
    </div>
  </div>
</div>
