<div class="mailbox-container10">
  <app-header rootClassName="headerroot-class-name5">
    <ng-template #text>
      <div class="mailbox-fragment1">
        <span class="mailbox-text10">Notifications</span>
      </div>
    </ng-template>
    <ng-template #link1>
      <div class="mailbox-fragment2">
        <span class="mailbox-text11">Home</span>
      </div>
    </ng-template>
    <ng-template #link2>
      <div class="mailbox-fragment3">
        <span class="mailbox-text12">Search</span>
      </div>
    </ng-template>
    <ng-template #link3>
      <div class="mailbox-fragment4">
        <span class="mailbox-text13">Map</span>
      </div>
    </ng-template>
    <ng-template #link4>
      <div class="mailbox-fragment5">
        <span class="mailbox-text14">Saves</span>
      </div>
    </ng-template>
    <ng-template #link5>
      <div class="mailbox-fragment6">
        <span class="mailbox-text15">Mailbox</span>
      </div>
    </ng-template>
    <ng-template #text2>
      <div class="mailbox-fragment7">
        <span class="mailbox-text16">Notifications</span>
      </div>
    </ng-template>
    <ng-template #text3>
      <div class="mailbox-fragment8">
        <span class="mailbox-text17">Link</span>
      </div>
    </ng-template>
    <ng-template #text11>
      <div class="mailbox-fragment9">
        <span class="mailbox-text18">Link</span>
      </div>
    </ng-template>
  </app-header>
  <div class="mailbox-container11">
    <div class="mailbox-container12">
      <div class="mailbox-container13">
        <div class="mailbox-container14">
          <span class="mailbox-text19">Inbox</span>
          <button type="button" class="mailbox-button1 button">All</button>
        </div>
        <div class="mailbox-container15">
          <button type="button" class="mailbox-button2 button">Unread</button>
        </div>
        <button type="button" class="mailbox-button3 button">Requests</button>
      </div>
      <div class="mailbox-container16">
        <div class="mailbox-container17">
          <a routerLink="/owner-profile" class="mailbox-navlink">
            <div class="mailbox-container18">
              <img
                id="user-pet-image"
                alt="image"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="mailbox-image1"
              />
              <div class="mailbox-container19">
                <span id="user-pet-first-name" class="mailbox-text20">
                  Luna Harper
                </span>
                <span id="user-pet-search" class="mailbox-text21">
                  <span>
                    Looking for
                    <span [innerHTML]="raw1ik8"></span>
                  </span>
                  <span class="mailbox-text23">LOVE</span>
                </span>
                <div class="mailbox-container20">
                  <span id="last-message">
                    Sure, let&apos;s meet on Sunday!
                  </span>
                </div>
              </div>
            </div>
          </a>
        </div>
        <span id="date" class="mailbox-text25">9 sep.</span>
      </div>
    </div>
    <div class="mailbox-container21">
      <div class="mailbox-container22">
        <div class="mailbox-container23">
          <img
            alt="image"
            src="/assets/1676556259dog-sleeping.svg"
            class="mailbox-image2"
          />
          <span class="mailbox-text26">
            Nothing here. Select a chat to find your ideal partner
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
