:host { 
  display: contents; 
}
.mailbox-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.mailbox-fragment1 {
  display: contents;
}
.mailbox-text10 {
  display: inline-block;
}
.mailbox-fragment2 {
  display: contents;
}
.mailbox-text11 {
  display: inline-block;
}
.mailbox-fragment3 {
  display: contents;
}
.mailbox-text12 {
  display: inline-block;
}
.mailbox-fragment4 {
  display: contents;
}
.mailbox-text13 {
  display: inline-block;
}
.mailbox-fragment5 {
  display: contents;
}
.mailbox-text14 {
  display: inline-block;
}
.mailbox-fragment6 {
  display: contents;
}
.mailbox-text15 {
  display: inline-block;
}
.mailbox-fragment7 {
  display: contents;
}
.mailbox-text16 {
  display: inline-block;
}
.mailbox-fragment8 {
  display: contents;
}
.mailbox-text17 {
  display: inline-block;
}
.mailbox-fragment9 {
  display: contents;
}
.mailbox-text18 {
  display: inline-block;
}
.mailbox-container11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mailbox-container12 {
  flex: 0 0 auto;
  width: 30%;
  height: 1000px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  border-color: #000000;
  border-width: 1px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}
.mailbox-container13 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.mailbox-container14 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.mailbox-text19 {
  font-size: 1.8em;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.mailbox-button1 {
  color: rgb(255, 255, 255);
  width: var(--dl-size-size-medium);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-imageradius);
  background-color: rgb(231, 126, 229);
}
.mailbox-container15 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.mailbox-button2 {
  font-style: normal;
  margin-top: var(--dl-space-space-threeunits);
  font-weight: 500;
  border-width: 0px;
}
.mailbox-button3 {
  font-style: normal;
  margin-top: var(--dl-space-space-threeunits);
  font-weight: 500;
  border-width: 0px;
}
.mailbox-container16 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.mailbox-container17 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.mailbox-navlink {
  display: contents;
}
.mailbox-container18 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: center;
  padding-left: 0px;
  justify-content: flex-start;
  text-decoration: none;
}
.mailbox-image1 {
  width: 120px;
  object-fit: cover;
  margin-right: var(--dl-space-space-twounits);
  border-radius: 50%;
}
.mailbox-container19 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.mailbox-text20 {
  font-size: 1.2em;
}
.mailbox-text21 {
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-twounits);
}
.mailbox-text23 {
  color: #ff0000;
}
.mailbox-container20 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.mailbox-text25 {
  align-self: flex-start;
  margin-left: var(--dl-space-space-threeunits);
}
.mailbox-container21 {
  flex: 0 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
}
.mailbox-container22 {
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-size-size-xxlarge);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.mailbox-container23 {
  flex: 0 0 auto;
  width: 600px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.mailbox-image2 {
  width: var(--dl-size-size-xxlarge);
  object-fit: cover;
}
.mailbox-text26 {
  font-size: 1.5em;
  font-family: "Roboto";
}
@media(max-width: 1200px) {
  .mailbox-container12 {
    width: 35%;
  }
  .mailbox-button1 {
    color: rgb(255, 255, 255);
    background-color: rgb(231, 126, 229);
  }
  .mailbox-container15 {
    max-width: var(--dl-size-size-medium);
  }
  .mailbox-text20 {
    width: 100%;
  }
  .mailbox-text21 {
    width: 100%;
  }
  .mailbox-text25 {
    margin-left: 0px;
  }
  .mailbox-container21 {
    width: 65%;
  }
}
@media(max-width: 991px) {
  .mailbox-container12 {
    width: 100%;
  }
  .mailbox-container13 {
    padding-left: var(--dl-space-space-twounits);
  }
  .mailbox-text19 {
    font-size: 2em;
  }
  .mailbox-container16 {
    width: 100%;
    align-self: center;
  }
  .mailbox-container17 {
    align-self: flex-start;
  }
  .mailbox-image1 {
    width: 150px;
  }
  .mailbox-text20 {
    font-size: 3em;
  }
  .mailbox-text21 {
    font-size: 1.8em;
  }
  .mailbox-text25 {
    margin-left: var(--dl-space-space-sixunits);
  }
  .mailbox-container21 {
    display: none;
  }
  .mailbox-container22 {
    display: none;
  }
}
@media(max-width: 767px) {
  .mailbox-container13 {
    width: auto;
    align-self: flex-start;
  }
  .mailbox-container18 {
    width: auto;
    align-self: flex-start;
  }
  .mailbox-text25 {
    margin-left: var(--dl-space-space-sixunits);
  }
}
@media(max-width: 479px) {
  .mailbox-container16 {
    padding-left: var(--dl-space-space-unit);
  }
  .mailbox-image1 {
    display: none;
  }
  .mailbox-text25 {
    margin-left: var(--dl-space-space-sixunits);
  }
}
