:host { 
  display: contents; 
}
.pet-component-container10 {
  flex: 0 0 auto;
  width: auto;
  height: 600px;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.pet-component-container11 {
  flex: 0 0 auto;
  width: auto;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.pet-component-container12 {
  flex: 0 0 auto;
  width: 100%;
  height: 600px;
  display: flex;
  z-index: 100;
  align-self: center;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: flex-start;
  background-color: #ffffff;
  border-bottom-left-radius: 7%;
}
.pet-component-container13 {
  flex: 0 0 auto;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.pet-component-container14 {
  flex: 0 0 auto;
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: center;
}
.pet-component-text10 {
  font-size: 2em;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.pet-component-container15 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.pet-component-text11 {
  font-size: 1.3em;
  align-self: center;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 500;
}
.pet-component-image1 {
  width: 23px;
  height: 27px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
}
.pet-component-container16 {
  flex: 0 0 auto;
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pet-component-container17 {
  flex: 0 0 auto;
  width: 33%;
  height: 60%;
  display: flex;
  align-items: center;
  border-color: #f47aff;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 2px;
  border-bottom-width: 0px;
}
.pet-component-text12 {
  font-size: 2.5em;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 900;
}
.pet-component-container18 {
  flex: 0 0 auto;
  width: 33%;
  height: 60%;
  display: flex;
  align-items: center;
  border-color: #f47aff;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 2px;
  border-bottom-width: 0px;
}
.pet-component-text14 {
  font-size: 2.5em;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 900;
}
.pet-component-container19 {
  flex: 0 0 auto;
  width: 34%;
  height: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.pet-component-text16 {
  font-size: 2.5em;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 900;
}
.pet-component-container20 {
  flex: 0 0 auto;
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.pet-component-container21 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pet-component-text18 {
  font-size: 2em;
  align-self: center;
  font-family: "Roboto";
  font-weight: 500;
  margin-bottom: var(--dl-space-space-twounits);
}
.pet-component-image2 {
  width: 38px;
  height: 35px;
  align-self: flex-start;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
}
.pet-component-navlink {
  color: #64cbff;
  font-size: 1.5em;
  align-self: flex-start;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 300;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.pet-component-container22 {
  flex: 0 0 auto;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.pet-component-image3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pet-component-container23 {
  top: 0px;
  flex: 0 0 auto;
  right: 97px;
  width: auto;
  bottom: 0px;
  height: 692px;
  margin: auto;
  display: flex;
  z-index: 200;
  position: absolute;
  align-items: flex-start;
  padding-right: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.pet-component-container24 {
  flex: 0 0 auto;
  width: auto;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.pet-component-fragment10 {
  display: contents;
}
.pet-component-text19 {
  display: inline-block;
}
.pet-component-fragment11 {
  display: contents;
}
.pet-component-text20 {
  display: inline-block;
}
.pet-component-fragment12 {
  display: contents;
}
.pet-component-text21 {
  display: inline-block;
}
.pet-component-text22 {
  font-style: normal;
}
.pet-component-text23 {
  color: #ff0000;
  font-weight: 700;
}
.pet-component-fragment13 {
  display: contents;
}
.pet-component-text24 {
  display: inline-block;
}
.pet-component-fragment14 {
  display: contents;
}
.pet-component-text25 {
  display: inline-block;
}
.pet-component-fragment15 {
  display: contents;
}
.pet-component-text26 {
  display: inline-block;
}
.pet-component-fragment16 {
  display: contents;
}
.pet-component-text27 {
  display: inline-block;
}
.pet-component-fragment17 {
  display: contents;
}
.pet-component-text28 {
  display: inline-block;
}
.pet-component-fragment18 {
  display: contents;
}
.pet-component-text29 {
  display: inline-block;
}
.pet-component-fragment19 {
  display: contents;
}
.pet-component-text30 {
  display: inline-block;
}

.pet-componentroot-class-name1 {
  width: 70%;
}

.pet-componentroot-class-name3 {
  display: none;
}
@media(max-width: 1200px) {
  .pet-componentroot-class-name {
    width: 100%;
    align-self: center;
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media(max-width: 991px) {
  .pet-component-container12 {
    justify-content: center;
  }
  .pet-component-container13 {
    width: 100%;
  }
  .pet-component-container22 {
    display: none;
  }
  .pet-component-image3 {
    width: 100%;
    height: 100%;
  }
  .pet-componentroot-class-name {
    display: none;
  }
}
@media(max-width: 767px) {
  .pet-componentroot-class-name {
    display: none;
  }
  .pet-componentroot-class-name3 {
    display: flex;
    margin-bottom: var(--dl-space-space-sixunits);
  }
}
@media(max-width: 479px) {
  .pet-componentroot-class-name {
    display: none;
  }
}
