:host { 
  display: contents; 
}
.form-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  background-color: #f9e8fa;
}
.form-icon1 {
  top: 497px;
  fill: var(--dl-color-theme-neutral-dark);
  left: 14px;
  color: #ffffff;
  width: 500px;
  height: 500px;
  position: fixed;
  transform: rotate(-30deg);
}
.form-form {
  width: 70%;
  height: auto;
  display: flex;
  z-index: 2;
  align-items: center;
  margin-bottom: 200px;
  justify-content: center;
}
.form-form-content {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.form-form-owner-section {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: flex-start;
}
.form-title {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  padding-top: 5%;
  margin-bottom: var(--dl-space-space-threeunits);
  padding-bottom: 5%;
  justify-content: center;
}
.form-text10 {
  color: #5a502f;
  font-size: 4em;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 300;
}
.form-owner-name-section {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.form-first-name {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.form-text11 {
  font-size: 1.5em;
  font-family: "Roboto";
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.form-text12 {
  font-style: normal;
}
.form-text13 {
  font-weight: 700;
}
.form-textinput10 {
  width: 95%;
  height: 60px;
  opacity: 0.7;
  font-size: 1.5em;
  align-self: flex-start;
  font-family: "Roboto";
  border-color: #6a4500;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 50px;
  background-color: #e8e8cb;
}
.form-last-name {
  top: 0px;
  flex: 0 0 auto;
  right: 0px;
  width: 50%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.form-textinput11 {
  right: 0px;
  width: 95%;
  bottom: 0px;
  height: 60px;
  opacity: 0.7;
  position: absolute;
  font-size: 1.5em;
  text-align: left;
  font-family: "Roboto";
  border-color: #6a4500;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 50px;
  background-color: #e8e8cb;
}
.form-textinput12 {
  width: 30%;
  height: 60px;
  opacity: 0.7;
  font-size: 1.5em;
  align-self: flex-start;
  border-color: #6a4500;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 50px;
  margin-bottom: var(--dl-space-space-twounits);
  background-color: #e8e8cb;
}
.form-select1 {
  width: 30%;
  height: 60px;
  opacity: 0.7;
  font-size: 1.5em;
  align-self: flex-start;
  font-family: ""Roboto"";
  border-color: #6a4500;
  border-width: 1px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 15px;
  margin-bottom: var(--dl-space-space-unit);
  background-color: #e8e8cb;
}
.form-owner-address-section {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.form-container11 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-end;
}
.form-text14 {
  font-size: 1.5em;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.form-textinput13 {
  width: 100%;
  height: 60px;
  opacity: 0.7;
  font-size: 1.5em;
  font-family: "Roboto";
  border-color: #6a4500;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 50px;
  background-color: #e8e8cb;
}
.form-container12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.form-container13 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.form-textinput14 {
  width: 95%;
  height: 60px;
  opacity: 0.7;
  font-size: 1.5em;
  font-family: "Roboto";
  border-color: #6a4500;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 50px;
  background-color: #e8e8cb;
}
.form-container14 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.form-select2 {
  width: 95%;
  height: 60px;
  opacity: 0.7;
  font-size: 1.5em;
  font-family: ""Roboto"";
  border-color: #6a4500;
  border-width: 1px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 15px;
  background-color: #e8e8cb;
}
.form-owner-phone-number-section1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-end;
}
.form-text15 {
  font-size: 1.5em;
  font-family: "Roboto";
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.form-textinput15 {
  width: 100%;
  height: 60px;
  opacity: 0.7;
  font-size: 1.5em;
  font-family: "Roboto";
  border-color: #6a4500;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 50px;
  background-color: #e8e8cb;
}
.form-owner-phone-number-section2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-end;
}
.form-text16 {
  font-size: 1.5em;
  font-family: "Roboto";
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.form-text17 {
  font-style: normal;
}
.form-text18 {
  font-weight: 700;
}
.form-select3 {
  width: 50%;
  height: 60px;
  opacity: 0.7;
  font-size: 1.5em;
  font-family: ""Roboto"";
  border-color: #6a4500;
  border-width: 1px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 15px;
  margin-bottom: var(--dl-space-space-twounits);
  background-color: #e8e8cb;
}
.form-container15 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.form-text19 {
  font-size: 1.5em;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.form-textarea1 {
  width: 100%;
  height: var(--dl-size-size-xxlarge);
  opacity: 0.7;
  font-size: 1.5em;
  padding-top: var(--dl-space-space-unit);
  border-color: #6a4500;
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-inputradius);
  background-color: #e8e8cb;
}
.form-container16 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.form-container17 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.form-text20 {
  font-size: 1.5em;
  font-family: "Roboto";
  line-height: 2.5;
}
.form-text22 {
  font-style: normal;
  font-weight: 700;
}
.form-text23 {
  color: #989898;
  font-size: 1.2em;
  font-style: italic;
  font-family: "Roboto";
  font-weight: 300;
}
.form-container18 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.form-container19 {
  flex: 0.5;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.form-container20 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
}
.form-radiobutton1 {
  width: 32px;
  height: 32px;
  margin-right: var(--dl-space-space-unit);
}
.form-text24 {
  font-size: 1.5em;
  font-family: "Roboto";
}
.form-container21 {
  flex: 0.5;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.form-container22 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
}
.form-radiobutton2 {
  width: 32px;
  height: 32px;
  margin-right: var(--dl-space-space-unit);
}
.form-text25 {
  font-size: 1.5em;
  font-family: "Roboto";
}
.form-container23 {
  flex: 1;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.form-container24 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
}
.form-radiobutton3 {
  width: 32px;
  height: 32px;
  margin-right: var(--dl-space-space-unit);
}
.form-text26 {
  font-size: 1.5em;
  font-family: "Roboto";
}
.form-container25 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: flex-start;
}
.form-text27 {
  font-size: 1.5em;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.form-line {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  opacity: 0.7;
  align-items: flex-start;
  border-radius: 50px;
  background-color: #6A4500;
}
.form-form-pet-section {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  margin-bottom: 200px;
  flex-direction: column;
  justify-content: flex-start;
}
.form-container26 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  padding-top: 5%;
  margin-bottom: var(--dl-space-space-threeunits);
  padding-bottom: 5%;
  justify-content: center;
}
.form-text28 {
  fill: #5a502f;
  color: #5a502f;
  font-size: 4em;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 300;
}
.form-container27 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.form-container28 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.form-text29 {
  font-size: 1.5em;
  font-family: "Roboto";
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.form-text30 {
  font-style: normal;
}
.form-text31 {
  font-weight: 700;
}
.form-textinput17 {
  width: 95%;
  height: 60px;
  opacity: 0.7;
  font-size: 1.5em;
  border-color: #6a4500;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 50px;
  background-color: #e8e8cb;
}
.form-container29 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.form-textinput18 {
  width: 95%;
  height: 60px;
  opacity: 0.7;
  font-size: 1.5em;
  border-color: #6a4500;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 50px;
  background-color: #e8e8cb;
}
.form-container30 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.form-container31 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.form-container32 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.form-text32 {
  font-size: 1.5em;
  font-family: "Roboto";
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.form-text33 {
  font-style: normal;
}
.form-text34 {
  font-weight: 700;
}
.form-select4 {
  width: 95%;
  height: 60px;
  opacity: 0.7;
  font-size: 1.5em;
  align-self: flex-start;
  font-family: ""Roboto"";
  border-color: #6a4500;
  border-width: 1px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 15px;
  background-color: #e8e8cb;
}
.form-container33 {
  flex: 0 0 auto;
  width: 50%;
  height: 100px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.form-textinput19 {
  width: 95%;
  height: 60px;
  opacity: 0.7;
  font-size: 1.5em;
  border-color: #6a4500;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 50px;
  background-color: #e8e8cb;
}
.form-container34 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.form-container35 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.form-textinput20 {
  width: 95%;
  height: 60px;
  opacity: 0.7;
  font-size: 1.5em;
  border-color: #6a4500;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 50px;
  background-color: #e8e8cb;
}
.form-container36 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.form-textinput21 {
  width: 95%;
  height: 60px;
  opacity: 0.7;
  font-size: 1.5em;
  border-color: #6a4500;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 50px;
  background-color: #e8e8cb;
}
.form-container37 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.form-container38 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.form-select5 {
  width: 50%;
  height: 60px;
  opacity: 0.7;
  font-size: 1.5em;
  font-family: ""Roboto"";
  border-color: #6a4500;
  border-width: 1px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 15px;
  background-color: #e8e8cb;
}
.form-container39 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}
.form-select6 {
  width: 95%;
  height: 60px;
  opacity: 0.7;
  font-size: 1.5em;
  align-self: flex-end;
  font-family: ""Roboto"";
  border-color: #6a4500;
  border-width: 1px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 15px;
  background-color: #e8e8cb;
}
.form-container40 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-end;
}
.form-text35 {
  font-size: 1.5em;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.form-textarea2 {
  width: 100%;
  height: var(--dl-size-size-large);
  opacity: 0.7;
  font-size: 1.5em;
  padding-top: var(--dl-space-space-unit);
  border-color: #6a4500;
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-inputradius);
  background-color: #e8e8cb;
}
.form-container41 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.form-text36 {
  font-size: 1.5em;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.form-textarea3 {
  width: 100%;
  height: var(--dl-size-size-xxlarge);
  opacity: 0.7;
  font-size: 1.5em;
  padding-top: var(--dl-space-space-unit);
  border-color: #6a4500;
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-inputradius);
  background-color: #e8e8cb;
}
.form-container42 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.form-text37 {
  font-size: 1.5em;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.form-container43 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.form-container44 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.form-text38 {
  font-size: 3em;
  align-self: center;
}
.form-container45 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.form-container46 {
  flex: 0 0 auto;
  width: 33%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.form-text39 {
  font-size: 2em;
  font-family: "Roboto";
  margin-right: var(--dl-space-space-twounits);
}
.form-radiobutton4 {
  width: 32px;
  height: 32px;
  margin-right: var(--dl-space-space-unit);
}
.form-container47 {
  flex: 0 0 auto;
  width: 33%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.form-text40 {
  font-size: 2em;
  font-family: "Roboto";
  margin-right: var(--dl-space-space-twounits);
}
.form-radiobutton5 {
  width: 32px;
  height: 32px;
  margin-right: var(--dl-space-space-unit);
}
.form-container48 {
  flex: 0 0 auto;
  width: 34%;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.form-text41 {
  font-size: 2em;
  font-family: "Roboto";
  margin-right: var(--dl-space-space-twounits);
}
.form-radiobutton6 {
  width: 32px;
  height: 32px;
  margin-right: var(--dl-space-space-unit);
}
.form-navlink {
  color: #ffffff;
  width: 460px;
  height: var(--dl-size-size-medium);
  font-size: 1.8em;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 700;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-inputradius);
  text-decoration: none;
  background-color: #f47aff;
  transition: background-color 0.3s, transform 0.3s;
}

.form-navlink:hover {
  background-color: #fd41fd;
  transform: scale(1.1);
}
.form-icon7 {
  top: 10px;
  fill: var(--dl-color-theme-neutral-dark);
  color: #ffffff;
  right: 51px;
  width: 400px;
  height: 400px;
  position: fixed;
}
@media(max-width: 767px) {
  .form-text39 {
    margin-right: 0px;
  }
  .form-text40 {
    margin-right: 0px;
  }
  .form-text41 {
    margin-right: 0px;
  }
}
