<div class="search-container10">
  <app-header rootClassName="headerroot-class-name3"></app-header>
  <form id="search-form" target="self" class="search-form">
    <div class="search-container11">
      <div class="search-container12">
        <div class="search-container13">
          <span class="search-text19">Search by Location</span>
        </div>
        <div class="search-container14">
          <div class="search-container15">
            <span class="search-text20">Country</span>
            <input type="text" id="country-select" name="country" placeholder="Any" autocomplete="country" class="search-textinput1 input" [(ngModel)]="selectedCountry"
            />
          </div>
          <div class="search-container16">
            <span class="search-text21">City</span>
            <input type="text" id="city-select" name="city" placeholder="Any" autocomplete="address-line2" class="search-textinput2 input" [(ngModel)]="selectedCity"
            />
          </div>
          <div class="search-container17">
            <button (click)="onFilterClick()" id="search-btn" class="search-navlink1 button" >Search</button>
            <span class="search-text22">Advanced search</span>
          </div>
        </div>
      </div>
      <div class="search-container18">
        <span class="search-text23">City</span>
        <input type="text" name="city" placeholder="Any" autocomplete="address-line2"  class="search-textinput3 input" [(ngModel)]="selectedCity"/>
      </div>
      <div class="search-container19">
        <span class="search-text24">Search by Pet Data</span>
      </div>
      <div class="search-container20">
        <div class="search-container21">
          <div class="search-container22">
            <div class="search-container23">
              <span class="search-text25">Pet Type</span>
              <span class="search-text25">Pet Breed</span>
              <span class="search-text26">Sex</span>
              <span class="search-text27">Age</span>
            </div>
            <div class="search-container24">
              <select id="type-select" name="petType" class="search-select10" [(ngModel)]="selectedType" (change)="onTypeChange()">
                <option *ngFor="let type of petBreeds | keyvalue" [value]="type.key">{{ type.key }}</option>
              </select>

              <select id="breed-select" name="petBreed" class="search-select10" [(ngModel)]="selectedBreed" [disabled]="!filteredBreeds.length">
                <option *ngFor="let breed of filteredBreeds" [value]="breed">{{ breed }}</option>
              </select>
              <select id="pet-sex-select" [(ngModel)]="selectedPetSex" name="petSex" class="search-select11">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
              <select id="pet-age-select" name="petAge" [(ngModel)]="selectedPetAge" class="search-select12">
                <option value="1-5">1-5 years</option>
                <option value="6-10">6-10 years</option>
                <option value="11-15">11-15 years</option>
                <option value="16+">16+ years</option>
              </select>
            </div>
          </div>
        </div>
        <div class="search-container25">
          <div class="search-container26">
            <span class="search-text28">Sex status</span>
            <select id="sex-status-select" name="sexStatus" class="search-select13" [(ngModel)]="selectedSexStatus">
              <option value="Intact">Intact</option>
              <option value="Neutered">Neutered</option>
              <option value="Spayed">Spayed</option>
            </select>
          </div>
        </div>

      </div>
      <div class="search-container27">
        <div class="search-container28">
          <span class="search-text29" [(ngModel)]="selectedSexStatus">Sex status</span>
          <select class="search-select14">
            <option value="Intact">Intact</option>
            <option value="Neutered">Neutered</option>
            <option value="Spayed">Spayed</option>
          </select>
        </div>
      </div>

      <div class="search-container29">
        <div class="search-container30">
          <span class="search-text30">Search by Person Data</span>
        </div>
      </div>
      <div class="search-container31">
        <div class="search-container32">
          <div class="search-container33">
            <div class="search-container34">
              <div class="search-container35">
                <span class="search-text31">Age</span>
                <span class="search-text32">Sex</span>
                <span class="search-text33">Job</span>
              </div>
              <div class="search-container36">
                <select id="person-age-select" name="personAge" class="search-select15">
                  <option value="Option 1">Option 1</option>
                  <option value="Option 2">Option 2</option>
                  <option value="Option 3">Option 3</option>
                </select>
                <select id="person-sex-select" name="personSex" class="search-select16">
                  <option value="male_person">Male</option>
                  <option value="female_person">Female</option>
                </select>
                <select id="job-select" name="job" class="search-select17">
                  <option value="Option 1">Option 1</option>
                  <option value="Option 2">Option 2</option>
                  <option value="Option 3">Option 3</option>
                </select>
              </div>
            </div>
          </div>
          <div class="search-container37">
            <div class="search-container38">
              <span class="search-text34">Schedule</span>
              <select id="schedule-select" name="schedule" class="search-select18">
                <option value="Option 1">Option 1</option>
                <option value="Option 2">Option 2</option>
                <option value="Option 3">Option 3</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="search-container39">
        <span class="search-text35">Schedule</span>
        <select class="search-select19">
          <option value="Option 1">Option 1</option>
          <option value="Option 2">Option 2</option>
          <option value="Option 3">Option 3</option>
        </select>
      </div>
      <div class="search-container40">
        <button (click)="onFilterClick()" class="search-navlink2 button" type="submit">Search</button>
        <span class="search-text36">Advanced search</span>
      </div>
    </div>
  </form>
</div>
