.mailbox-container16 {
    width: 60vh;
    flex: 0 0 auto;
    height: auto;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
}
.mailbox-container16:hover {
    background-color: #EEE;
}

.mailbox-container17 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.mailbox-container18 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-self: flex-start;
    align-items: center;
    padding-left: 0px;
    justify-content: flex-start;
    text-decoration: none;
}
.mailbox-image1 {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-right: var(--dl-space-space-twounits);
    border-radius: 50%;
}
.mailbox-container19 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.mailbox-text20 {
    font-size: 1.2em;
}
.mailbox-text21 {
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    margin-bottom: var(--dl-space-space-twounits);
}
.mailbox-text23 {
    color: #ff0000;
}
.mailbox-container20 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.mailbox-text25 {
    position: sticky;
    top: 0;
    right: 0;
    height: auto;
    margin-left: 10%;
}

#last-message {
    font-style: italic;
}

@media(max-width: 1200px) {
    .mailbox-text20 {
        width: 100%;
    }
    .mailbox-text21 {
        width: 100%;
    }
    .mailbox-text25 {
        margin-left: 0;
    }
}

@media(max-width: 991px) {
    .mailbox-image1 {
        width: 120px;
        height: 120px;
    }
    .mailbox-text25 {
        margin-left: var(--dl-space-space-sixunits);
    }
}

@media(max-width: 767px) {
    .mailbox-container18 {
        width: auto;
        align-self: flex-start;
    }
    .mailbox-text25 {
        margin-left: var(--dl-space-space-sixunits);
    }
}

@media(max-width: 479px) {
    .mailbox-container16 {
        padding-left: var(--dl-space-space-unit);
    }
    .mailbox-image1 {
        display: none;
    }
    .mailbox-text25 {
        margin-left: var(--dl-space-space-sixunits);
    }
}