<div class="map-container1">
  <app-header rootClassName="headerroot-class-name2">
    <ng-template #text>
      <div class="map-fragment10">
        <span class="map-text10">Notifications</span>
      </div>
    </ng-template>
    <ng-template #link1>
      <div class="map-fragment11"><span class="map-text11">Home</span></div>
    </ng-template>
    <ng-template #link2>
      <div class="map-fragment12"><span class="map-text12">Search</span></div>
    </ng-template>
    <ng-template #link3>
      <div class="map-fragment13"><span class="map-text13">Map</span></div>
    </ng-template>
    <ng-template #link4>
      <div class="map-fragment14"><span class="map-text14">Saves</span></div>
    </ng-template>
    <ng-template #link5>
      <div class="map-fragment15"><span class="map-text15">Mailbox</span></div>
    </ng-template>
    <ng-template #text2>
      <div class="map-fragment16">
        <span class="map-text16">Notifications</span>
      </div>
    </ng-template>
    <ng-template #text3>
      <div class="map-fragment17"><span class="map-text17">Link</span></div>
    </ng-template>
    <ng-template #text11>
      <div class="map-fragment18"><span class="map-text18">Link</span></div>
    </ng-template>
  </app-header>
  <div class="map-container2">
    <iframe
      src="https://www.google.com/maps?q=2880 Broadway, New York;&amp;output=embed"
      class="map-google-maps"
    ></iframe>
    <div class="map-container3">
      <pet-component rootClassName="pet-componentroot-class-name2">
        <ng-template #text>
          <div class="map-fragment19">
            <span class="map-text19">LUNA HARPER</span>
          </div>
        </ng-template>
        <ng-template #text1>
          <div class="map-fragment20">
            <span class="map-text20">Click for more details</span>
          </div>
        </ng-template>
        <ng-template #text2>
          <div class="map-fragment21">
            <span class="map-text21">Golden Retriever</span>
          </div>
        </ng-template>
        <ng-template #text3>
          <div class="map-fragment22"><span class="map-text22">1</span></div>
        </ng-template>
        <ng-template #text4>
          <div class="map-fragment23">
            <span class="map-text23">yrs old</span>
          </div>
        </ng-template>
        <ng-template #text5>
          <div class="map-fragment24"><span class="map-text24">12</span></div>
        </ng-template>
        <ng-template #text6>
          <div class="map-fragment25"><span class="map-text25">kg</span></div>
        </ng-template>
        <ng-template #text7>
          <div class="map-fragment26"><span class="map-text26">50</span></div>
        </ng-template>
        <ng-template #text8>
          <div class="map-fragment27">
            <span class="map-text27">cm tall</span>
          </div>
        </ng-template>
        <ng-template #text9>
          <div class="map-fragment28">
            <span class="map-text28">
              <span class="map-text29">
                Looking for:
                <span [innerHTML]="rawbgbu"></span>
              </span>
              <span class="map-text30">LOVE</span>
            </span>
          </div>
        </ng-template>
      </pet-component>
    </div>
  </div>
  <pet-component rootClassName="pet-componentroot-class-name3">
    <ng-template #text>
      <div class="map-fragment29">
        <span class="map-text31">LUNA HARPER</span>
      </div>
    </ng-template>
    <ng-template #text1>
      <div class="map-fragment30">
        <span class="map-text32">Click for more details</span>
      </div>
    </ng-template>
    <ng-template #text2>
      <div class="map-fragment31">
        <span class="map-text33">Golden Retriever</span>
      </div>
    </ng-template>
    <ng-template #text3>
      <div class="map-fragment32"><span class="map-text34">1</span></div>
    </ng-template>
    <ng-template #text4>
      <div class="map-fragment33"><span class="map-text35">yrs old</span></div>
    </ng-template>
    <ng-template #text5>
      <div class="map-fragment34"><span class="map-text36">12</span></div>
    </ng-template>
    <ng-template #text6>
      <div class="map-fragment35"><span class="map-text37">kg</span></div>
    </ng-template>
    <ng-template #text7>
      <div class="map-fragment36"><span class="map-text38">50</span></div>
    </ng-template>
    <ng-template #text8>
      <div class="map-fragment37"><span class="map-text39">cm tall</span></div>
    </ng-template>
    <ng-template #text9>
      <div class="map-fragment38">
        <span class="map-text40">
          <span class="map-text41">
            Looking for:
            <span [innerHTML]="rawjj14"></span>
          </span>
          <span class="map-text42">LOVE</span>
        </span>
      </div>
    </ng-template>
  </pet-component>
</div>
