:host {
  display: contents;
}

form {
  flex: 0 0 auto;
  width: 40%;
  height: 80%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-left: var(--dl-space-space-threeunits);
  padding-top: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-color: #ffffff;
}
.login-container {
  width: 100%;
  display: flex;
  z-index: 100;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(247, 192, 255, 0.2) 1.00%,rgb(231, 126, 229) 98.00%);
}
.login-body {
  width: 90%;
  height: 100%;
  display: flex;
  z-index: 100;
  box-shadow: 5px 5px 10px 0px #888686;
  align-items: flex-start;
  border-radius: 4px;
  background-color: #f6f6f6;
}

.login-text1 {
  font-size: 4em;
  font-family: "Roboto";
  margin-bottom: var(--dl-space-space-unit);
}
.login-sign-up-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.login-text2 {
  color: #b9b6b6;
  font-size: 22px;
  font-family: "Roboto";
  margin-bottom: var(--dl-space-space-threeunits);
}
.login-navlink1 {
  color: #f47aff;
  font-size: 22px;
  font-family: "Roboto";
  margin-left: var(--dl-space-space-halfunit);
  text-decoration: underline;
}
.login-text3 {
  font-size: 24px;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.login-textinput1 {
  width: 100%;
  font-size: 1.5em;
  font-family: "Roboto";
  border-color: #7f7f7f;
  border-radius: var(--dl-radius-radius-imageradius);
  margin-bottom: var(--dl-space-space-twounits);
}
.login-password-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
}
.login-text4 {
  font-size: 24px;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 700;
  margin-right: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-halfunit);
}
.login-link {
  top: 0px;
  color: #f47aff;
  right: 0px;
  position: absolute;
  font-size: 24px;
  text-decoration: underline;
}
.login-textinput2 {
  width: 100%;
  font-size: 1.5em;
  font-family: "Roboto";
  border-color: #7f7f7f;
  border-radius: var(--dl-radius-radius-imageradius);
  margin-bottom: var(--dl-space-space-threeunits);
}
.login-navlink2 {
  color: #ffffff;
  width: 100%;
  height: 70px;
  align-self: center;
  transition: 0.3s;
  border-width: 0px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #f47aff;
}
.login-navlink2:hover {
  background-color: #f6b5f9;
}
.login-logo-container {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
}
.login-image1 {
  width: 90%;
  height: var(--dl-size-size-xxlarge);
  margin-top: var(--dl-space-space-twounits);
  object-fit: cover;
  margin-bottom: var(--dl-space-space-twounits);
}
.login-image2 {
  width: 90%;
  height: var(--dl-size-size-xxlarge);
  object-fit: cover;
}
@media(max-width: 1200px) {
  form {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .login-image1 {
    width: 100%;
  }
  .login-image2 {
    width: 100%;
  }
}
@media(max-width: 991px) {
  .login-body {
    width: 80%;
    justify-content: center;
  }
  form {
    width: 90%;
    align-self: center;
    margin-top: var(--dl-space-space-sixunits);
    margin-bottom: var(--dl-space-space-sixunits);
    padding-bottom: var(--dl-space-space-fourunits);
    justify-content: center;
  }
  .login-logo-container {
    display: none;
  }
}
@media(max-width: 767px) {
  form {
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  form {
    width: 100%;
    align-self: center;
    margin-left: 0px;
    margin-right: 0px;
  }
  .login-text2 {
    font-size: 20px;
  }
}
