<div class="login-container">
  <div class="login-body">
    <form [formGroup] = "form" (ngSubmit)="login()">
        <h1 class="login-text1">LOGIN</h1>
        <div class="login-sign-up-container">
          <span class="login-text2">Doesn`t have an account yet?</span>
          <a routerLink= "/register" class="login-navlink1">Sign Up</a>
        </div>
        <span class="login-text3">Email Adress</span>

        <input
          type="email"
          id="email_adress"
          name="email_adress"
          size="30"
          pattern="..+@gmail.com"
          required
          maxlength="100"
          minlength="3"
          placeholder=""
          autocomplete="email"
          class="login-textinput1 input"
          formControlName= "email"
        />
        <small *ngIf="isRequired('email')">This field is required.</small>
        <small *ngIf="isEmailRequired()">Please enter a valid email address.</small>
        <div class="login-password-container">
          <span class="login-text4">Password</span>
          <a href="https://example.com" target="_blank" rel="noreferrer noopener" class="login-link">Forgot Password?</a>
        </div>
        <input type="password" id="password" placeholder="" class="login-textinput2 input" formControlName="password"/>
        <small *ngIf="isRequired('password')">This field is required.</small>
        <button type="submit" id="login_button" name="login" class="login-navlink2 button">LOGIN</button>
    </form>

    <div class="login-logo-container">
      <img alt="pawmatch logo" src="/assets/image%20(2)-700w.png" loading="eager" class="login-image1"/>
      <img alt="pets" src="/assets/pets-700w.png" class="login-image2" />
    </div>

  </div>
</div>
