:host { 
  display: contents; 
}
.care-qa-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(232, 244, 255, 0) 1.00%,rgb(103, 172, 204) 100.00%);
}
.care-qa-icon1 {
  top: 0px;
  fill: var(--dl-color-theme-neutral-dark);
  left: 0px;
  color: #ffffff;
  right: 0px;
  width: var(--dl-size-size-maxwidth);
  bottom: 0px;
  height: var(--dl-size-size-maxwidth);
  margin: auto;
  position: absolute;
}
.care-qa-container2 {
  flex: 0 0 auto;
  width: 60%;
  height: 800px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 200px;
  flex-direction: column;
  justify-content: flex-start;
}
.care-qa-text {
  font-size: 3.2em;
  font-style: normal;
  margin-top: 0px;
  font-family: "Roboto";
  font-weight: 700;
  margin-bottom: var(--dl-space-space-fourunits);
}
.care-qa-navlink1 {
  color: #ffffff;
  width: 70%;
  height: var(--dl-size-size-medium);
  font-size: 28px;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 700;
  border-width: 0px;
  border-radius: 50px;
  margin-bottom: var(--dl-space-space-threeunits);
  text-decoration: none;
  background-color: rgb(189, 209, 255);
}
.care-qa-navlink2 {
  color: #ffffff;
  width: 70%;
  height: var(--dl-size-size-medium);
  font-size: 28px;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 700;
  border-width: 0px;
  border-radius: 50px;
  margin-bottom: var(--dl-space-space-fourunits);
  text-decoration: none;
  background-color: rgb(189, 209, 255);
}
.care-qa-navlink3 {
  color: #40a9ff;
  font-size: 32px;
}

.care-qa-navlink1, .care-qa-navlink2, .care-qa-navlink3 {
  transition: all 0.3s ease;
}

.care-qa-navlink1:hover {
  background-color: #a1c4ff;
  transform: scale(1.05);
}

.care-qa-navlink2:hover {
  background-color: #a1c4ff;
  transform: scale(1.05);
}

.care-qa-navlink3:hover {
  color: #ff6f61;
  text-decoration: none;
  transform: scale(1.05);
}

.care-qa-navlink1:hover, .care-qa-navlink2:hover, .care-qa-navlink3:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}



@media(max-width: 1200px) {
  .care-qa-icon1 {
    left: 0px;
    right: 0px;
    width: 1200px;
    bottom: 0px;
    height: var(--dl-size-size-maxwidth);
    margin: auto;
  }
  .care-qa-container2 {
    width: 70%;
  }
}
@media(max-width: 991px) {
  .care-qa-icon1 {
    left: -102px;
    bottom: 0px;
    margin: auto;
  }
  .care-qa-container2 {
    width: 85%;
  }
}
@media(max-width: 767px) {
  .care-qa-icon1 {
    left: -213px;
    bottom: 0px;
  }
  .care-qa-container2 {
    width: 95%;
  }
}
@media(max-width: 479px) {
  .care-qa-icon1 {
    top: 0px;
    left: -374px;
    margin: auto;
  }
  .care-qa-container2 {
    padding-top: 120px;
  }
  .care-qa-text {
    font-size: 2.5em;
    padding-left: var(--dl-space-space-twounits);
  }
}
