<div class="register-container1" xmlns:formControlName="http://www.w3.org/1999/xhtml">
  <div class="register-body">
    <form [formGroup] = "form" (ngSubmit)="register()">
      <h1 class="register-text1">REGISTER</h1>
      <div class="register-login-container">
        <span class="register-text2">Are you already one of us?</span>
        <a routerLink="/" class="register-navlink1">Login</a>
      </div>
      <span class="register-text3">Email Adress</span>
      <input
        type="email"
        id="email_adress"
        name="email_adress"
        size="30"
        maxlength="20"
        minlength="3"
        placeholder="you@example.com"
        autocomplete="email"
        class="register-textinput1 input"
        formControlName= "email"
      />
      <div class="register-container2">
        <span class="register-text4">Password</span>
      </div>
      <input
        type="password"
        name="password"
        placeholder="********"
        formControlName="password"
        class="register-textinput2 input"
      />
      <span class="register-text5">Confirm Password</span>
      <input
        type="password"
        placeholder="********"
        formControlName="password"
        class="register-textinput3 input"
      />
      <button
        id="register"
        name="register_button"
        class="register-navlink2 button"
      type="submit"
      >
        CREATE ACCOUNT
      </button>
    </form>
    <div class="register-logo-container">
      <img
        alt="pawmatch Logo"
        src="/assets/image%20(2)-800h.png"
        loading="eager"
        class="register-image1"
      />
      <img
        alt="pets"
        src="/pets-800h.png"
        loading="eager"
        class="register-image2"
      />
    </div>
  </div>
</div>
