<div class="owner-profile-container10">
  <app-header rootClassName="headerroot-class-name6">
    <ng-template #text>
      <div class="owner-profile-fragment1">
        <span class="owner-profile-text10">Notifications</span>
      </div>
    </ng-template>
    <ng-template #link1>
      <div class="owner-profile-fragment2">
        <span class="owner-profile-text11">Home</span>
      </div>
    </ng-template>
    <ng-template #link2>
      <div class="owner-profile-fragment3">
        <span class="owner-profile-text12">Search</span>
      </div>
    </ng-template>
    <ng-template #link3>
      <div class="owner-profile-fragment4">
        <span class="owner-profile-text13">Map</span>
      </div>
    </ng-template>
    <ng-template #link4>
      <div class="owner-profile-fragment5">
        <span class="owner-profile-text14">Saves</span>
      </div>
    </ng-template>
    <ng-template #link5>
      <div class="owner-profile-fragment6">
        <span class="owner-profile-text15">Mailbox</span>
      </div>
    </ng-template>
    <ng-template #text2>
      <div class="owner-profile-fragment7">
        <span class="owner-profile-text16">Notifications</span>
      </div>
    </ng-template>
    <ng-template #text3>
      <div class="owner-profile-fragment8">
        <span class="owner-profile-text17">Link</span>
      </div>
    </ng-template>
    <ng-template #text11>
      <div class="owner-profile-fragment9">
        <span class="owner-profile-text18">Link</span>
      </div>
    </ng-template>
  </app-header>
  <div class="owner-profile-container11">
    <div class="owner-profile-container12">
      <span class="owner-profile-text19">Owner Profile </span>
      <a routerLink="/pet-profile" class="owner-profile-navlink">
        Go to pets profile
      </a>
    </div>
    <div class="owner-profile-container13">
      <div class="owner-profile-container14">
        <div class="owner-profile-container15">
          <div class="owner-profile-container16">
            <span class="owner-profile-text20">Basic Info</span>
            <button type="button" class="owner-profile-button1 button">
              Edit
            </button>
          </div>
          <div class="owner-profile-container17">
            <div class="owner-profile-container18">
              <div class="owner-profile-container19">
                <div class="owner-profile-container20">
                  <span class="owner-profile-text21">Name</span>
                  <span id="owner-first-name" class="owner-profile-text22" [innerHTML]="ownerName">
</span>
                </div>
              </div>
            </div>
            <div class="owner-profile-container21">
              <div class="owner-profile-container22">
                <div class="owner-profile-container23">
                  <div class="owner-profile-container24">
                    <span class="owner-profile-text23">Sex</span>
                    <span id="owner-sex" class="owner-profile-text24" [innerHTML]="ownerSex"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="owner-profile-container25">
              <div class="owner-profile-container26">
                <div class="owner-profile-container27">
                  <span class="owner-profile-text25">Age</span>
                  <span id="owner-age" class="owner-profile-text26" [innerHTML]="ownerAge"><br /></span>
                </div>
              </div>
            </div>
          </div>
          <div class="owner-profile-container28">
            <div class="owner-profile-container29">
              <span class="owner-profile-text29">Job</span>
              <span id="owner-job" class="owner-profile-text30" [innerHTML]="ownerJob"><br /></span>
            </div>
            <div class="owner-profile-container30">
              <span class="owner-profile-text33" [innerHTML]="ownerSchedule"></span>
              <span id="owner-schedule" class="owner-profile-text34">
                Mornings
              </span>
            </div>
          </div>
        </div>
        <div class="owner-profile-container31">
          <div class="owner-profile-container32">
            <span class="owner-profile-text35">About me</span>
            <button type="button" class="owner-profile-button2 button">
              Edit
            </button>
          </div>
          <div class="owner-profile-container33">
            <span id="owner-description" class="owner-profile-text36" [innerHTML]="ownerDescription ? ownerDescription : 'Description not available.'">
              <br />
            </span>
          </div>
        </div>
      </div>
      <div class="owner-profile-container34">
        <img
          id="owner-image"
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="owner-profile-image"
        />
        <div class="owner-profile-container35">
          <span id="owner-address" class="owner-profile-text39" [innerHTML]="ownerLocation"></span>
          <button type="button" class="owner-profile-button3 button">
            Edit
          </button>
        </div>
      </div>
    </div>
  </div>
  <svg width="24" height="24" viewBox="0 0 24 24" class="owner-profile-icon1">
    <circle r="2.5" cx="4.5" cy="9.5" fill="currentColor"></circle>
    <circle r="2.5" cx="9" cy="5.5" fill="currentColor"></circle>
    <circle r="2.5" cx="15" cy="5.5" fill="currentColor"></circle>
    <circle r="2.5" cx="19.5" cy="9.5" fill="currentColor"></circle>
    <path
      d="M17.34 14.86c-.87-1.02-1.6-1.89-2.48-2.91c-.46-.54-1.05-1.08-1.75-1.32q-.165-.06-.33-.09c-.25-.04-.52-.04-.78-.04s-.53 0-.79.05q-.165.03-.33.09c-.7.24-1.28.78-1.75 1.32c-.87 1.02-1.6 1.89-2.48 2.91c-1.31 1.31-2.92 2.76-2.62 4.79c.29 1.02 1.02 2.03 2.33 2.32c.73.15 3.06-.44 5.54-.44h.18c2.48 0 4.81.58 5.54.44c1.31-.29 2.04-1.31 2.33-2.32c.31-2.04-1.3-3.49-2.61-4.8"
      fill="currentColor"
    ></path>
  </svg>
</div>
