<div class="home-container1">
  <app-header link1Url="/home" rootClassName="headerroot-class-name"></app-header>

  <div class="home-container2">
    <div class="home-container3">
      <button type="button" class="home-button1 button" (click)="switchToPerson()">People</button>
    </div>
    <div class="home-container4">
      <button type="button" class="home-button2 button" (click)="switchToPet()">Pets</button>
    </div>

  </div>
  <div class="home-container5">
    <span id="owner-first-name-123" class="home-text19">
      John Smith - Texas, United States 
    </span>
  </div>
  <div class="home-container6">
    <div class="home-container7">
      <img alt="image" src="/assets/arrow-right-600h.png" class="home-image1" (click)="loadData()"/>
      <pet-component *ngIf="currentView === 'pet'"
                     [imageSrc1]="pet_image"
                     [name]="pet_name"
                     [breed]="pet_breed"
                     [age]="pet_age"
                     [weight]="pet_weight"
                     [size]="pet_size"
                     [search]="pet_search">
      </pet-component>

      <owner-component *ngIf="currentView === 'person'"
                        [name]="owner_name"
                        [age]="owner_age"
                        [sex]="owner_sex"
                        [job]="owner_job"
                        [search]="pet_search"
                        [imageSrc1]="owner_picture"
                       [userId]="userId">
      </owner-component>
      <img alt="image" src="/assets/arrow-right-600h.png" class="home-image2" (click)="loadData()"/>
    </div>
  </div>
  <div class="home-container8">
    <img alt="image" src="/assets/arrow-right-600h.png" class="home-image3" />
    <img alt="image" src="/assets/arrow-right-600h.png" class="home-image4" />
  </div>
  <img alt="image" src="/assets/dog-food-400h.png" class="home-image5" />
  <img alt="image" src="/assets/hamster-400h.png" class="home-image6" />
  <img alt="image" src="/assets/house-400h.png" class="home-image7" />
</div>
