<div class="home-container1">
  <app-header link1Url="/home" rootClassName="headerroot-class-name">
    <ng-template #text>
      <div class="home-fragment10">
        <span class="home-text10">Notifications</span>
      </div>
    </ng-template>
    <ng-template #link1>
      <div class="home-fragment11"><span class="home-text11">Home</span></div>
    </ng-template>
    <ng-template #link2>
      <div class="home-fragment12"><span class="home-text12">Search</span></div>
    </ng-template>
    <ng-template #link3>
      <div class="home-fragment13"><span class="home-text13">Map</span></div>
    </ng-template>
    <ng-template #link4>
      <div class="home-fragment14"><span class="home-text14">Saves</span></div>
    </ng-template>
    <ng-template #link5>
      <div class="home-fragment15">
        <span class="home-text15">Mailbox</span>
      </div>
    </ng-template>
    <ng-template #text2>
      <div class="home-fragment16">
        <span class="home-text16">Notifications</span>
      </div>
    </ng-template>
    <ng-template #text3>
      <div class="home-fragment17"><span class="home-text17">Link</span></div>
    </ng-template>
    <ng-template #text11>
      <div class="home-fragment18"><span class="home-text18">Link</span></div>
    </ng-template>
  </app-header>










  <div class="home-container2">
    <div class="home-container3">
      <button type="button" class="home-button1 button">People</button>
    </div>
    <div class="home-container4">
      <button type="button" class="home-button2 button">Pets</button>
    </div>
  </div>
  <div class="home-container5">
    <span id="owner-first-name-123" class="home-text19">
      John Smith - Texas, United States 
    </span>
  </div>
  <div class="home-container6">
    <div class="home-container7">
      <img alt="image" src="/assets/arrow-right-600h.png" class="home-image1" (click)="loadData()"/>
      <pet-component rootClassName="pet-componentroot-class-name1">
        <ng-template #text>
          <div class="home-fragment19">
            <!--<span class="home-text20">LUNA HARPER</span>-->
            <span class="home-text20" [innerHTML]="name"></span>
          </div>
        </ng-template>
        <ng-template #text1>
          <div class="home-fragment20">
            <span class="home-text21">Click for more details</span>
          </div>
        </ng-template>
        <ng-template #text2>
          <div class="home-fragment21">
            <span class="home-text22" [innerHTML]="breed"></span>
          </div>
        </ng-template>
        <ng-template #text3>
          <div class="home-fragment22"><span class="home-text23" [innerHTML]="age"></span></div>
        </ng-template>
        <ng-template #text4>
          <div class="home-fragment23">
            <span class="home-text24">yrs old</span>
          </div>
        </ng-template>
        <ng-template #text5>
          <div class="home-fragment24"><span class="home-text25" [innerHTML]="weight"></span></div>
        </ng-template>
        <ng-template #text6>
          <div class="home-fragment25"><span class="home-text26">kg</span></div>
        </ng-template>
        <ng-template #text7>
          <div class="home-fragment26"><span class="home-text27" [innerHTML]="size"></span></div>
        </ng-template>
        <ng-template #text8>
          <div class="home-fragment27">
            <span class="home-text28">cm tall</span>
          </div>
        </ng-template>
        <ng-template #text9>
          <div class="home-fragment28">
            <span class="home-text29">
              <span class="home-text30">Looking for: </span>
              <span class="home-text31" [innerHTML]="search"></span>
            </span>
          </div>
        </ng-template>
      </pet-component>
      <img alt="image" src="/assets/arrow-right-600h.png" class="home-image2" (click)="loadData()"/>
    </div>
  </div>
  <div class="home-container8">
    <img alt="image" src="/assets/arrow-right-600h.png" class="home-image3" />
    <img alt="image" src="/assets/arrow-right-600h.png" class="home-image4" />
  </div>
  <img alt="image" src="/assets/dog-food-400h.png" class="home-image5" />
  <img alt="image" src="/assets/hamster-400h.png" class="home-image6" />
  <img alt="image" src="/assets/house-400h.png" class="home-image7" />
</div>
