<div class="home-container1">
  <app-header link1Url="/home" rootClassName="headerroot-class-name">

  </app-header>

  <div class="home-container2">
    <div class="home-container3">
      <div class="toggle-buttons">
        <button type="button" class="home-button button" [ngClass]="{ 'active': currentView === 'person' }" (click)="switchToPerson()">People</button>
        <button type="button" class="home-button button" [ngClass]="{ 'active': currentView === 'pet' }" (click)="switchToPet()">Pets</button>
        <div class="toggle-indicator" [ngClass]="{ 'left': currentView === 'person', 'right': currentView === 'pet' }"></div>
      </div>
    </div>


  </div>
  <div class="home-container5">
    <span id="owner-first-name-123" class="home-text19"> {{city}}, {{country}} </span>
  </div>
  <div class="home-container6">
    <div class="home-container7">
      <img alt="image" src="/assets/arrow-right-600h.png" class="home-image1" (click)="prevUser()"/>
      <pet-component *ngIf="currentView === 'pet'"
                     [userId]="userId">
      </pet-component>

      <owner-component *ngIf="currentView === 'person'"
                       [userId]="userId">
      </owner-component>
      <img alt="image" src="/assets/arrow-right-600h.png" class="home-image2" (click)="nextUser()"/>
    </div>
  </div>
  <div class="home-container8">
    <img alt="image" src="/assets/arrow-right-600h.png" class="home-image3" />
    <img alt="image" src="/assets/arrow-right-600h.png" class="home-image4" />
  </div>
  <img alt="image" src="/assets/dog-food-400h.png" class="home-image5" />
  <img alt="image" src="/assets/hamster-400h.png" class="home-image6" />
  <img alt="image" src="/assets/house-400h.png" class="home-image7" />
</div>
