<div class="pet-component-container10" [ngClass]="rootClassName">
  <div class="pet-component-container11"></div>
  <div class="pet-component-container12">
    <div class="pet-component-container13">
      <div id="pet-sex-123" class="pet-component-container14">
        <span id="pet-first-name-123" class="pet-component-text10">
          <ng-container>
            <ng-template #defaultText>
              <div class="pet-component-fragment11">
                <span class="pet-component-text20">{{ name }}</span>
              </div>
            </ng-template>
            <ng-container
                    *ngTemplateOutlet="text ? text : defaultText"
            ></ng-container>
          </ng-container>
        </span>
      </div>
      <div class="pet-component-container16">
        <div class="pet-component-container17">
          <span id="pet-age-123" class="pet-component-text12">
            <ng-container>
              <ng-template #defaultText3>
                <div class="pet-component-fragment19">
                  <span class="pet-component-text30">{{ age }}</span>
                </div>
              </ng-template>
              <ng-container
                      *ngTemplateOutlet="text3 ? text3 : defaultText3"
              ></ng-container>
            </ng-container>
          </span>
          <span>
            <ng-container>
              <ng-template #defaultText4>
                <div class="pet-component-fragment15">
                  <span class="pet-component-text26">yrs old</span>
                </div>
              </ng-template>
              <ng-container
                      *ngTemplateOutlet="text4 ? text4 : defaultText4"
              ></ng-container>
            </ng-container>
          </span>
        </div>
        <div class="pet-component-container18">
          <span id="pet-weight-123" class="pet-component-text14">
            <ng-container>
              <ng-template #defaultText5>
                <div class="pet-component-fragment17">
                  <span class="pet-component-text28">{{ sex }}</span>
                </div>
              </ng-template>
              <ng-container
                      *ngTemplateOutlet="text5 ? text5 : defaultText5"
              ></ng-container>
            </ng-container>
          </span>
          <span>
            <ng-container>
              <ng-template #defaultText6>
                <div class="pet-component-fragment18">
                  <span class="pet-component-text29">Sex</span>
                </div>
              </ng-template>
              <ng-container
                      *ngTemplateOutlet="text6 ? text6 : defaultText6"
              ></ng-container>
            </ng-container>
          </span>
        </div>
        <div class="pet-component-container19">
          <span id="pet-size-123" class="pet-component-text16">
            <ng-container>
              <ng-template #defaultText7>
                <div class="pet-component-fragment16">
                  <span class="pet-component-text27">{{ job }}</span>
                </div>
              </ng-template>
              <ng-container
                      *ngTemplateOutlet="text7 ? text7 : defaultText7"
              ></ng-container>
            </ng-container>
          </span>
          <span>
            <ng-container>
              <ng-template #defaultText8>
                <div class="pet-component-fragment10">
                  <span class="pet-component-text19">Job</span>
                </div>
              </ng-template>
              <ng-container
                      *ngTemplateOutlet="text8 ? text8 : defaultText8"
              ></ng-container>
            </ng-container>
          </span>
        </div>
      </div>
      <div class="pet-component-container20">
        <div class="pet-component-container21">
          <span id="pet-search-123" class="pet-component-text18">
            <ng-container>
              <ng-template #defaultText9>
                <div class="pet-component-fragment12">
                  <span class="pet-component-text21">
                    <span class="pet-component-text22">Looking for:</span>
                    <span class="pet-component-text23">{{ search }}</span>
                  </span>
                </div>
              </ng-template>
              <ng-container
                      *ngTemplateOutlet="text9 ? text9 : defaultText9"
              ></ng-container>
            </ng-container>
          </span>
          <img
                  [attr.alt]="imageAlt4"
                  [attr.src]="imageSrc4"
                  class="pet-component-image2"
          />
        </div>
        <a (click)="navigateWithUserId()" class="pet-component-navlink">
          <ng-container>
            <ng-template #defaultText1>
              <div class="pet-component-fragment14">
                <span class="pet-component-text25">Click for more details</span>
              </div>
            </ng-template>
            <ng-container
                    *ngTemplateOutlet="text1 ? text1 : defaultText1"
            ></ng-container>
          </ng-container>
        </a>
      </div>
    </div>
    <div class="pet-component-container22">
      <img
              id="pet-image-123"
              [attr.alt]="imageAlt1"
              [attr.src]="imageSrc1 || 'https://play.teleporthq.io/static/svg/default-img.svg'"
              class="pet-component-image3"
      />
    </div>
  </div>
  <div class="pet-component-container23"></div>
  <div class="pet-component-container24"></div>
</div>
