<div class="owner-component-container10">
  <div class="owner-component-container11">
    <div class="owner-component-container12"></div>
    <div class="owner-component-container13">
      <div class="owner-component-container14">
        <div class="owner-component-container15">
          <div class="owner-component-container16">
            <span id="user-first-name-123" class="owner-component-text10">
              <ng-container>
                <ng-template #defaultText>
                  <div class="owner-component-fragment4">
                    <span class="owner-component-text21">Sasha Brown</span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="text ? text : defaultText"
                ></ng-container>
              </ng-container>
            </span>
            <img
              [attr.alt]="imageAlt3"
              [attr.src]="imageSrc3"
              class="owner-component-image1"
            />
          </div>
          <div class="owner-component-container17"></div>
        </div>
        <div class="owner-component-container18">
          <div class="owner-component-container19">
            <span id="user-age-123" class="owner-component-text11">
              <ng-container>
                <ng-template #defaultText3>
                  <div class="owner-component-fragment8">
                    <span class="owner-component-text27">33</span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="text3 ? text3 : defaultText3"
                ></ng-container>
              </ng-container>
            </span>
            <span>
              <ng-container>
                <ng-template #defaultText4>
                  <div class="owner-component-fragment3">
                    <span class="owner-component-text20">yrs old</span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="text4 ? text4 : defaultText4"
                ></ng-container>
              </ng-container>
            </span>
          </div>
          <div class="owner-component-container20">
            <span id="user-sex-123" class="owner-component-text13">
              <ng-container>
                <ng-template #defaultText5>
                  <div class="owner-component-fragment7">
                    <span class="owner-component-text26">Woman</span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="text5 ? text5 : defaultText5"
                ></ng-container>
              </ng-container>
            </span>
            <span>
              <ng-container>
                <ng-template #defaultText6>
                  <div class="owner-component-fragment9">
                    <span class="owner-component-text28">sex</span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="text6 ? text6 : defaultText6"
                ></ng-container>
              </ng-container>
            </span>
          </div>
          <div class="owner-component-container21">
            <span id="user-job-123" class="owner-component-text15">
              <ng-container>
                <ng-template #defaultText7>
                  <div class="owner-component-fragment2">
                    <span class="owner-component-text19">Journalist</span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="text7 ? text7 : defaultText7"
                ></ng-container>
              </ng-container>
            </span>
            <span>
              <ng-container>
                <ng-template #defaultText8>
                  <div class="owner-component-fragment1">
                    <span class="owner-component-text18">job</span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="text8 ? text8 : defaultText8"
                ></ng-container>
              </ng-container>
            </span>
          </div>
        </div>
        <div class="owner-component-container22">
          <div class="owner-component-container23">
            <span id="user-search-123" class="owner-component-text17">
              <ng-container>
                <ng-template #defaultText9>
                  <div class="owner-component-fragment6">
                    <span class="owner-component-text23">
                      <span class="owner-component-text24">
                        Looking for:
                        <span [innerHTML]="rawpr3n"></span>
                      </span>
                      <span class="owner-component-text25">LOVE</span>
                    </span>
                  </div>
                </ng-template>
                <ng-container
                  *ngTemplateOutlet="text9 ? text9 : defaultText9"
                ></ng-container>
              </ng-container>
            </span>
            <img
              [attr.alt]="imageAlt4"
              [attr.src]="imageSrc4"
              class="owner-component-image2"
            />
          </div>
          <a routerLink="/owner-profile" class="owner-component-navlink">
            <ng-container>
              <ng-template #defaultText1>
                <div class="owner-component-fragment5">
                  <span class="owner-component-text22">
                    Click for more details
                  </span>
                </div>
              </ng-template>
              <ng-container
                *ngTemplateOutlet="text1 ? text1 : defaultText1"
              ></ng-container>
            </ng-container>
          </a>
        </div>
      </div>
      <div class="owner-component-container24">
        <img
          id="user-image-123"
          [attr.alt]="imageAlt1"
          [attr.src]="imageSrc1"
          class="owner-component-image3"
        />
      </div>
    </div>
    <div class="owner-component-container25"></div>
    <div class="owner-component-container26"></div>
  </div>
</div>
