<div class="user-owner-profile-container10">
  <app-header rootClassName="headerroot-class-name7">
    <ng-template #text>
      <div class="user-owner-profile-fragment1">
        <span class="user-owner-profile-text10">Notifications</span>
      </div>
    </ng-template>
    <ng-template #link1>
      <div class="user-owner-profile-fragment2">
        <span class="user-owner-profile-text11">Home</span>
      </div>
    </ng-template>
    <ng-template #link2>
      <div class="user-owner-profile-fragment3">
        <span class="user-owner-profile-text12">Search</span>
      </div>
    </ng-template>
    <ng-template #link3>
      <div class="user-owner-profile-fragment4">
        <span class="user-owner-profile-text13">Map</span>
      </div>
    </ng-template>
    <ng-template #link4>
      <div class="user-owner-profile-fragment5">
        <span class="user-owner-profile-text14">Saves</span>
      </div>
    </ng-template>
    <ng-template #link5>
      <div class="user-owner-profile-fragment6">
        <span class="user-owner-profile-text15">Mailbox</span>
      </div>
    </ng-template>
    <ng-template #text2>
      <div class="user-owner-profile-fragment7">
        <span class="user-owner-profile-text16">Notifications</span>
      </div>
    </ng-template>
    <ng-template #text3>
      <div class="user-owner-profile-fragment8">
        <span class="user-owner-profile-text17">Link</span>
      </div>
    </ng-template>
    <ng-template #text11>
      <div class="user-owner-profile-fragment9">
        <span class="user-owner-profile-text18">Link</span>
      </div>
    </ng-template>
  </app-header>
  <div class="user-owner-profile-container11">
    <div class="user-owner-profile-container12">
      <span class="user-owner-profile-text19">Owner Profile </span>
      <a routerLink="/pet-profile" class="user-owner-profile-navlink1">
        Go to pets profile
      </a>
    </div>
    <div class="user-owner-profile-container13">
      <div class="user-owner-profile-container14">
        <div class="user-owner-profile-container15">
          <div class="user-owner-profile-container16">
            <span class="user-owner-profile-text20">Basic Info</span>
          </div>
          <div class="user-owner-profile-container17">
            <div class="user-owner-profile-container18">
              <div class="user-owner-profile-container19">
                <div class="user-owner-profile-container20">
                  <span class="user-owner-profile-text21">Name</span>
                  <span id="user-first-name" class="user-owner-profile-text22">
                    Marc Evans
                  </span>
                </div>
              </div>
            </div>
            <div class="user-owner-profile-container21">
              <div class="user-owner-profile-container22">
                <div class="user-owner-profile-container23">
                  <div class="user-owner-profile-container24">
                    <span class="user-owner-profile-text23">Sex</span>
                    <span id="user-sex" class="user-owner-profile-text24">
                      Male
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="user-owner-profile-container25">
              <div class="user-owner-profile-container26">
                <div class="user-owner-profile-container27">
                  <span class="user-owner-profile-text25">Age</span>
                  <span id="user-age" class="user-owner-profile-text26">
                    <span>33</span>
                    <br />
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="user-owner-profile-container28">
            <div class="user-owner-profile-container29">
              <span class="user-owner-profile-text29">Job</span>
              <span id="user-job" class="user-owner-profile-text30">
                <span>Photographer</span>
                <br />
              </span>
            </div>
            <div class="user-owner-profile-container30">
              <span class="user-owner-profile-text33">Schedule</span>
              <span id="user-schedule" class="user-owner-profile-text34">
                Mornings
              </span>
            </div>
          </div>
        </div>
        <div class="user-owner-profile-container31">
          <div class="user-owner-profile-container32">
            <span class="user-owner-profile-text35">About me</span>
          </div>
          <div class="user-owner-profile-container33">
            <span id="user-description" class="user-owner-profile-text36">
              <span>I’m a bubbly person, easy going and talktive.</span>
              <br />
            </span>
          </div>
        </div>
      </div>
      <div class="user-owner-profile-container34">
        <img
          id="user-image"
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="user-owner-profile-image"
        />
        <div class="user-owner-profile-container35">
          <span id="user-address" class="user-owner-profile-text39">
            Las Palmas de Gran Canaria
          </span>
        </div>
        <div class="user-owner-profile-container36">
          <div class="user-owner-profile-container37">
            <svg
              width="717"
              height="717"
              viewBox="0 0 717 717"
              class="user-owner-profile-icon10"
            >
              <path
                d="M390 0v149h78L312 337L156 149h82V0zm132 241l91 144c5 12 11 35 11 49v277c0 15-12 26-26 26H27c-15 0-27-11-27-26V434c0-14 5-37 10-49l91-144c5-13 23-24 36-24h41l42 51h-84L55 416c-1 0-1 1-1 2c0 2 0 3-1 4h517v-4c0-1-1-2-1-3l-81-147h-84l42-51h40c14 0 31 11 36 24M239 530h147c13 0 25-12 25-26c0-13-12-25-25-25H239c-14 0-26 12-26 25c0 14 12 26 26 26"
                fill="currentColor"
              ></path>
            </svg>
          </div>
          <div class="user-owner-profile-container38">
            <a routerLink="/mailbox" class="user-owner-profile-navlink2">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                class="user-owner-profile-icon12"
              >
                <path
                  d="M3.656 17.979A1 1 0 0 1 2 17.243V15a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H8.003zM16 10.017a7 7 0 0 0 0 .369zq.007-.16.004-4.019a3 3 0 0 0-3-2.997H5V2a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2v2.243a1 1 0 0 1-1.656.736L16 13.743z"
                  fill="currentColor"
                ></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="user-owner-profile-container39">
      <div class="user-owner-profile-container40">
        <svg
          width="717"
          height="717"
          viewBox="0 0 717 717"
          class="user-owner-profile-icon14"
        >
          <path
            d="M390 0v149h78L312 337L156 149h82V0zm132 241l91 144c5 12 11 35 11 49v277c0 15-12 26-26 26H27c-15 0-27-11-27-26V434c0-14 5-37 10-49l91-144c5-13 23-24 36-24h41l42 51h-84L55 416c-1 0-1 1-1 2c0 2 0 3-1 4h517v-4c0-1-1-2-1-3l-81-147h-84l42-51h40c14 0 31 11 36 24M239 530h147c13 0 25-12 25-26c0-13-12-25-25-25H239c-14 0-26 12-26 25c0 14 12 26 26 26"
            fill="currentColor"
          ></path>
        </svg>
      </div>
      <div class="user-owner-profile-container41">
        <a routerLink="/mailbox" class="user-owner-profile-navlink3">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="user-owner-profile-icon16"
          >
            <path
              d="M3.656 17.979A1 1 0 0 1 2 17.243V15a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H8.003zM16 10.017a7 7 0 0 0 0 .369zq.007-.16.004-4.019a3 3 0 0 0-3-2.997H5V2a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2v2.243a1 1 0 0 1-1.656.736L16 13.743z"
              fill="currentColor"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    class="user-owner-profile-icon18"
  >
    <circle r="2.5" cx="4.5" cy="9.5" fill="currentColor"></circle>
    <circle r="2.5" cx="9" cy="5.5" fill="currentColor"></circle>
    <circle r="2.5" cx="15" cy="5.5" fill="currentColor"></circle>
    <circle r="2.5" cx="19.5" cy="9.5" fill="currentColor"></circle>
    <path
      d="M17.34 14.86c-.87-1.02-1.6-1.89-2.48-2.91c-.46-.54-1.05-1.08-1.75-1.32q-.165-.06-.33-.09c-.25-.04-.52-.04-.78-.04s-.53 0-.79.05q-.165.03-.33.09c-.7.24-1.28.78-1.75 1.32c-.87 1.02-1.6 1.89-2.48 2.91c-1.31 1.31-2.92 2.76-2.62 4.79c.29 1.02 1.02 2.03 2.33 2.32c.73.15 3.06-.44 5.54-.44h.18c2.48 0 4.81.58 5.54.44c1.31-.29 2.04-1.31 2.33-2.32c.31-2.04-1.3-3.49-2.61-4.8"
      fill="currentColor"
    ></path>
  </svg>
</div>
