<div class="adoption-qa-container1">
  <svg width="24" height="24" viewBox="0 0 24 24" class="adoption-qa-icon1">
    <path
      d="M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2"
      fill="currentColor"
    ></path>
  </svg>
  <div class="adoption-qa-container2">
    <span class="adoption-qa-text">What does your pet need?</span>
    <button
      routerLink="/form"
      id="want_adoption_button"
      name="want_adoption_button"
      class="adoption-qa-navlink1 button"
    >
      I want to adopt
    </button>
    <button
      routerLink="/form"
      id="offer_adoption_button"
      name="offer_adoption_button"
      class="adoption-qa-navlink2 button"
    >
      Put up for adoption
    </button>
    <a routerLink="/form" class="adoption-qa-navlink3">
      I prefer to do it later
    </a>
  </div>
</div>
