<div class="adoption-qa-container1">
  <div class="adoption-qa-container2">
    <span class="adoption-qa-text">What does your pet need?</span>
    <button
      routerLink="/form"
      id="want_adoption_button"
      name="want_adoption_button"
      class="adoption-qa-navlink1 button"
    >
      I want to adopt
    </button>
    <button
      routerLink="/form"
      id="offer_adoption_button"
      name="offer_adoption_button"
      class="adoption-qa-navlink2 button"
    >
      Put up for adoption
    </button>
    <a routerLink="/form" class="adoption-qa-navlink3">
      I prefer to do it later
    </a>
  </div>
</div>
