:host { 
  display: contents; 
}
.adoption-qa-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-image: radial-gradient(circle, rgb(255, 255, 255) 50%, rgb(144, 238, 144) 100%);
}

.adoption-qa-container2 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 60%;
  bottom: 0px;
  height: 800px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  padding-top: 200px;
  flex-direction: column;
  justify-content: flex-start;
}
.adoption-qa-text {
  font-size: 3.5em;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 700;
  margin-bottom: var(--dl-space-space-fourunits);
}
.adoption-qa-navlink1 {
  color: rgb(255, 255, 255);
  width: 65%;
  height: var(--dl-size-size-medium);
  font-size: 28px;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 700;
  border-width: 0px;
  border-radius: 50px;
  margin-bottom: var(--dl-space-space-threeunits);
  text-decoration: none;
  background-color: rgb(126, 255, 145);
}
.adoption-qa-navlink2 {
  color: rgb(255, 255, 255);
  width: 65%;
  height: var(--dl-size-size-medium);
  font-size: 28px;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 700;
  border-width: 0px;
  border-radius: 50px;
  margin-bottom: var(--dl-space-space-fourunits);
  text-decoration: none;
  background-color: rgb(126, 255, 145);
}
.adoption-qa-navlink3 {
  color: #40a9ff;
  font-size: 32px;
}

.adoption-qa-navlink1, .adoption-qa-navlink2, .adoption-qa-navlink3 {
  transition: all 0.3s ease;
}

.adoption-qa-navlink1:hover {
  background-color: #a1f7a1;
  transform: scale(1.05);
}

.adoption-qa-navlink2:hover {
  background-color: #a1f7a1;
  transform: scale(1.05);
}

.adoption-qa-navlink3:hover {
  color: #ff6f61;
  text-decoration: none;
  transform: scale(1.05);
}

.adoption-qa-navlink1:hover, .adoption-qa-navlink2:hover, .adoption-qa-navlink3:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


@media(max-width: 1200px) {
  .adoption-qa-icon1 {
    left: 0px;
    right: 0px;
    width: 1200px;
    bottom: 0px;
    height: var(--dl-size-size-maxwidth);
    margin: auto;
  }
}
@media(max-width: 991px) {
  .adoption-qa-icon1 {
    left: -102px;
    bottom: 0px;
    margin: auto;
  }
  .adoption-qa-container2 {
    width: 70%;
  }
}
@media(max-width: 767px) {
  .adoption-qa-icon1 {
    left: -213px;
    bottom: 0px;
  }
  .adoption-qa-container2 {
    width: 90%;
  }
}
@media(max-width: 479px) {
  .adoption-qa-icon1 {
    top: 0px;
    left: -374px;
    margin: auto;
  }
  .adoption-qa-container2 {
    width: 95%;
  }
  .adoption-qa-text {
    font-size: 3em;
    padding-left: var(--dl-space-space-twounits);
  }
}