:host { 
  display: contents; 
}
.saves-container10 {
  width: 100%;
  display: flex;
  height: 90vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.saves-fragment10 {
  display: contents;
}
.saves-text10 {
  display: inline-block;
}
.saves-fragment11 {
  display: contents;
}
.saves-text11 {
  display: inline-block;
}
.saves-fragment12 {
  display: contents;
}
.saves-text12 {
  display: inline-block;
}
.saves-fragment13 {
  display: contents;
}
.saves-text13 {
  display: inline-block;
}
.saves-fragment14 {
  display: contents;
}
.saves-text14 {
  display: inline-block;
}
.saves-fragment15 {
  display: contents;
}
.saves-text15 {
  display: inline-block;
}
.saves-fragment16 {
  display: contents;
}
.saves-text16 {
  display: inline-block;
}
.saves-fragment17 {
  display: contents;
}
.saves-text17 {
  display: inline-block;
}
.saves-fragment18 {
  display: contents;
}
.saves-text18 {
  display: inline-block;
}
.saves-container11 {
  flex: 0 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10vh;
  background-image: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(220, 245, 250) 98%);
}
.saves-container12 {
  flex: 0 0 auto;
  width: 30%;
  height:90vh;
  display: flex;
  align-self: flex-start;
  align-items: center;
  border-color: #000000;
  border-width: 1px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
  border-top-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
  overflow-y: auto;
  scrollbar-width: none;
}
.saves-container13 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
  position: sticky;
  top: 0;
  z-index: 20;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}
.saves-container14 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.saves-text19 {
  font-size: 1.8em;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}

.saves-container15 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.saves-button1,
.saves-button2 {
  font-style: normal;
  font-weight: 500;
  width: var(--dl-size-size-medium);
  color: black;
  border-width: 0;
  border-radius: var(--dl-radius-radius-imageradius);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.saves-button2 {
  margin-top: var(--dl-space-space-threeunits);
}

.saves-button1:hover,
.saves-button2:hover {
  background-color: #CCC;
}

.saves-button1.active,
.saves-button2.active {
  background-color: rgb(231, 126, 229);
  color: white;
}

.saves-button1.active:hover,
.saves-button2.active:hover {
  background-color: rgb(180, 80, 180);
  color: white;
}
.saves-container16 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.saves-container20 {
  flex: 0 0 auto;
  width: 70%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-left: 0px;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.saves-fragment19 {
  display: contents;
}
.saves-text24 {
  display: inline-block;
}
.saves-fragment20 {
  display: contents;
}
.saves-text25 {
  display: inline-block;
}
.saves-fragment21 {
  display: contents;
}
.saves-text26 {
  display: inline-block;
}
.saves-fragment22 {
  display: contents;
}
.saves-text27 {
  display: inline-block;
}
.saves-fragment23 {
  display: contents;
}
.saves-text28 {
  display: inline-block;
}
.saves-fragment24 {
  display: contents;
}
.saves-text29 {
  display: inline-block;
}
.saves-fragment25 {
  display: contents;
}
.saves-text30 {
  display: inline-block;
}
.saves-fragment26 {
  display: contents;
}
.saves-text31 {
  display: inline-block;
}
.saves-fragment27 {
  display: contents;
}
.saves-text32 {
  display: inline-block;
}
.saves-fragment28 {
  display: contents;
}
.saves-text33 {
  display: inline-block;
}
.saves-text34 {
  font-style: normal;
}
.saves-text35 {
  color: #ff0000;
  font-weight: 700;
}
.saves-container21 {
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-size-size-xlarge);
  display: flex;
  align-items: center;
  justify-content: center;
}
.saves-navlink3 {
  display: contents;
}
.saves-icon5 {
  fill: #fa9fff;
  color: #fa9fff;
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-large);
  align-self: center;
  margin-top: var(--dl-space-space-fiveunits);
  text-decoration: none;
  transition: transform 0.3s ease, fill 0.3s ease;
}

.saves-icon5:hover {
  fill: #ffbbff;
  color: #ffbbff;
}

.centered-text {
  margin-top:42.5vh;
  text-align: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.3em;
}

@media(max-width: 1200px) {
  .saves-container12 {
    width: 35%;
  }
  .saves-button1 {
    color: rgb(255, 255, 255);
    background-color: rgb(231, 126, 229);
  }
  .saves-container15 {
    max-width: var(--dl-size-size-medium);
  }

  .saves-container20 {
    max-width: 700px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
}
@media(max-width: 991px) {
  .saves-container12 {
    width: 100%;
  }
  .saves-container13 {
    padding-left: var(--dl-space-space-twounits);
  }
  .saves-text19 {
    font-size: 2em;
  }
  .saves-container16 {
    width: 100%;
  }
  .saves-container20 {
    display: none;
  }
  .saves-icon5 {
    width: var(--dl-size-size-medium);
    margin-top: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .saves-container13 {
    align-self: flex-start;
  }
}
@media(max-width: 479px) {
  .saves-container16 {
    padding-left: var(--dl-space-space-unit);
  }
}