<div class="saves-container10">
  <app-header rootClassName="headerroot-class-name4"></app-header>
  <div class="saves-container11">
    <div class="saves-container12">
      <div class="saves-container13">
        <div class="saves-container14">
          <span class="saves-text19">Show profiles</span>
          <button type="button" class="saves-button1 button">Pets</button>
        </div>
        <div class="saves-container15">
          <button type="button" class="saves-button2 button">Person</button>
        </div>
      </div>
      <div class="saves-container16">
        <app-saved-user *ngFor="let user of currentUser.savedUsers" [user]="user"></app-saved-user>
      </div>
    </div>
    <div class="saves-container20">
      <pet-component rootClassName="pet-componentroot-class-name"></pet-component>
      <div class="saves-container21">
        <a routerLink="/mailbox" class="saves-navlink3">
          <svg width="24" height="24" viewBox="0 0 24 24" class="saves-icon5">
            <path
                    d="M3.656 17.979A1 1 0 0 1 2 17.243V15a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H8.003zM16 10.017a7 7 0 0 0 0 .369zq.007-.16.004-4.019a3 3 0 0 0-3-2.997H5V2a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2v2.243a1 1 0 0 1-1.656.736L16 13.743z"
                    fill="currentColor"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
