:host { 
  display: contents; 
}
.saves-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.saves-fragment10 {
  display: contents;
}
.saves-text10 {
  display: inline-block;
}
.saves-fragment11 {
  display: contents;
}
.saves-text11 {
  display: inline-block;
}
.saves-fragment12 {
  display: contents;
}
.saves-text12 {
  display: inline-block;
}
.saves-fragment13 {
  display: contents;
}
.saves-text13 {
  display: inline-block;
}
.saves-fragment14 {
  display: contents;
}
.saves-text14 {
  display: inline-block;
}
.saves-fragment15 {
  display: contents;
}
.saves-text15 {
  display: inline-block;
}
.saves-fragment16 {
  display: contents;
}
.saves-text16 {
  display: inline-block;
}
.saves-fragment17 {
  display: contents;
}
.saves-text17 {
  display: inline-block;
}
.saves-fragment18 {
  display: contents;
}
.saves-text18 {
  display: inline-block;
}
.saves-container11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: linear-gradient(90deg, rgb(255, 255, 255) 0.00%,rgb(200, 255, 253) 98.00%);
}
.saves-container12 {
  flex: 0 0 auto;
  width: 30%;
  height: 1000px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  border-color: #000000;
  border-width: 1px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}
.saves-container13 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.saves-container14 {
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.saves-text19 {
  font-size: 1.8em;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.saves-button1 {
  color: rgb(255, 255, 255);
  width: var(--dl-size-size-medium);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-imageradius);
  background-color: rgb(231, 126, 229);
}
.saves-container15 {
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.saves-button2 {
  font-style: normal;
  margin-top: var(--dl-space-space-threeunits);
  font-weight: 500;
  border-width: 0px;
}
.saves-container16 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.saves-container17 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.saves-navlink1 {
  display: contents;
}
.saves-container18 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  padding-left: 0px;
  justify-content: flex-start;
  text-decoration: none;
}
.saves-image {
  width: 100px;
  object-fit: cover;
  margin-right: var(--dl-space-space-twounits);
  border-radius: 50%;
}
.saves-container19 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.saves-text20 {
  font-size: 2em;
}
.saves-text21 {
  font-size: 1.3em;
}
.saves-text23 {
  color: #ff0000;
}
.saves-navlink2 {
  display: contents;
}
.saves-icon1 {
  fill: #fa9fff;
  color: #fa9fff;
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-large);
  display: none;
  align-self: center;
  margin-top: var(--dl-space-space-fiveunits);
  text-decoration: none;
}
.saves-icon3 {
  fill: #e52727;
  color: #e52727;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  align-self: center;
  margin-left: var(--dl-space-space-threeunits);
}
.saves-container20 {
  flex: 0 0 auto;
  width: 70%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-left: 0px;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.saves-fragment19 {
  display: contents;
}
.saves-text24 {
  display: inline-block;
}
.saves-fragment20 {
  display: contents;
}
.saves-text25 {
  display: inline-block;
}
.saves-fragment21 {
  display: contents;
}
.saves-text26 {
  display: inline-block;
}
.saves-fragment22 {
  display: contents;
}
.saves-text27 {
  display: inline-block;
}
.saves-fragment23 {
  display: contents;
}
.saves-text28 {
  display: inline-block;
}
.saves-fragment24 {
  display: contents;
}
.saves-text29 {
  display: inline-block;
}
.saves-fragment25 {
  display: contents;
}
.saves-text30 {
  display: inline-block;
}
.saves-fragment26 {
  display: contents;
}
.saves-text31 {
  display: inline-block;
}
.saves-fragment27 {
  display: contents;
}
.saves-text32 {
  display: inline-block;
}
.saves-fragment28 {
  display: contents;
}
.saves-text33 {
  display: inline-block;
}
.saves-text34 {
  font-style: normal;
}
.saves-text35 {
  color: #ff0000;
  font-weight: 700;
}
.saves-container21 {
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-size-size-xlarge);
  display: flex;
  align-items: center;
  justify-content: center;
}
.saves-navlink3 {
  display: contents;
}
.saves-icon5 {
  fill: #fa9fff;
  color: #fa9fff;
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-large);
  align-self: center;
  margin-top: var(--dl-space-space-fiveunits);
  text-decoration: none;
}
@media(max-width: 1200px) {
  .saves-container12 {
    width: 35%;
  }
  .saves-button1 {
    color: rgb(255, 255, 255);
    background-color: rgb(231, 126, 229);
  }
  .saves-container15 {
    max-width: var(--dl-size-size-medium);
  }
  .saves-text20 {
    width: 100%;
  }
  .saves-text21 {
    width: 100%;
  }
  .saves-icon3 {
    margin-left: var(--dl-space-space-unit);
  }
  .saves-container20 {
    max-width: 700px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
}
@media(max-width: 991px) {
  .saves-container12 {
    width: 100%;
  }
  .saves-container13 {
    padding-left: var(--dl-space-space-twounits);
  }
  .saves-text19 {
    font-size: 2em;
  }
  .saves-container16 {
    width: 100%;
  }
  .saves-container17 {
    align-self: flex-start;
  }
  .saves-image {
    width: 150px;
  }
  .saves-text20 {
    font-size: 3em;
  }
  .saves-text21 {
    font-size: 1.8em;
  }
  .saves-icon1 {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-medium);
    display: flex;
    margin-top: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-twounits);
  }
  .saves-icon3 {
    fill: var(--dl-color-theme-neutral-dark);
    color: #e52727;
    width: 75px;
    height: var(--dl-size-size-medium);
    align-self: center;
    margin-left: var(--dl-space-space-threeunits);
  }
  .saves-container20 {
    display: none;
  }
  .saves-icon5 {
    width: var(--dl-size-size-medium);
    margin-top: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .saves-container13 {
    width: auto;
    align-self: flex-start;
  }
  .saves-container18 {
    width: auto;
    align-self: flex-start;
  }
  .saves-icon1 {
    display: flex;
  }
}
@media(max-width: 479px) {
  .saves-container16 {
    padding-left: var(--dl-space-space-unit);
  }
  .saves-image {
    display: none;
  }
  .saves-icon3 {
    margin-left: var(--dl-space-space-unit);
  }
}
